.likelion-popup-container {
    background-color: white;
}

.lib-post-wrapper{
    padding-bottom: 1%;
    background-color: #ededed;
}

.lib-post {
    background-color : white;
    width : 100%;
    padding-bottom : 143%;
    background-image : url(/static/common/images/festival/lib_post.png);
    background-size : cover;
    margin : auto;
}


.share-btn{
    background-image: url(../../../img/share-white.png);
    background-color:initial;
    border: 0;
    border-radius: 0;
    width:25px;
    height: 25px;
    background-size:cover;
    background-position:center;
    position:absolute;
    right : 15px;
    top:15px;
}