.title-wrapper {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-size: cover;
    background-position: center;
	position: relative;
}
.title-bg {
	background-image: url('../img/cheer/cheer2.png');
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: 1;
    filter: grayscale(1) brightness(0.5);
}
/* 로고 */
.title-logo {
	background-image: url('../img/cheer/cheer_logo3.svg');
	padding-bottom: 160px;
    background-position: center;
	background-repeat: no-repeat;
	width: 60%;
	margin-top: 20px;
	z-index: 1;
	filter: drop-shadow(0 0 1px #ff6ba4);
}
.no-border {
	z-index: 1;
}
.timetable-wrapper {
	text-align: center;
}
.timetable-wrapper ol {
	padding: 0;
	margin: 0;
} 
.timetable-wrapper li {
	/* max-width: 155px; */
    margin: 0 auto;
    border: 1px solid white;
    padding: 5px;
}
.cheer-video {
	text-align: center;
	margin-left: 0%;
	margin-right: 0%;
}


/* title */
/* .custom-title {
	background-color: #282828;
} */