html , body{
	background-color:#09081c;
}

/* color set */
.color {
	/* pink */
	color: #f801ff;
	/* blue */
	color:#0064FF
}

/* text */
h1 {
	font-size: 1.8rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1.2rem;
}
.container.festival {
	background-color: #09081c;
	margin: 0px;
	width: 100%;
	max-width: 100%;
	color: white;
	min-height: 100%;
	/* NAVBAR HEIGHT */
	margin-top : 70px;
	padding: 0;
}
.food-con {
	min-height: 800px!important;
}



