body{
    width:1000px;
}

.booth1{
    position: relative;
    top: 141px;
    left: 219px;
    display: inline;

}

.booth2{
    position: relative;
    top: 141px;
    left: 461px;
    display: inline;

}

.truck1{
    position: relative;
    display: inline;
    top: 380px;
    left: 15px;
}
.truck2{
    display: inline;
    position: relative;
    top: 210px;
    left: 530px;
}
.truck3{
    position: relative;
    display: inline;
    top: 380px;
    left: 506px;

}
.truck4{
    position: relative;
    top: 162px;
    left: -50px;
    display: inline;
}