.festival-main.container {
	padding: 0;
}
.poster-wrapper {
	background-image: url(../img/main/poster.svg);
    width: 80%;
    margin: auto;
    height: 17rem;
    background-position-x: center;
    background-size: cover;
}
/* swiper */
.swiper-container {
	height: 18rem;
	position: relative;
}
.s-btn-w {
	filter: brightness(0) invert(1) drop-shadow(0px 1px 1px rgba(0,0,0,0.4));
	-webkit-filter: brightness(0) invert(1) drop-shadow(0px 1px 1px rgba(0,0,0,0.4));
	opacity: 0.8;
}
.swiper-pagination-bullet-active {
    opacity: 0.8;
	background: #fff !important;
	filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.4));
	-webkit-filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.4));
}
.artist-wrapper {
	height: 100%;
	-webkit-mask-image: linear-gradient(to bottom, black 60%,transparent);
	
}
.artist-title {
	position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
	height: 60px;
	text-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.4);
	color: rgb(255,255,255,0.8);
	font-style: italic;
}
.artist-title h1 {
	font-size: 2rem;
	font-weight: bold;
	margin: 0.1rem;
	font-family: 'Black Han Sans', sans-serif!important;
    text-shadow: 0 0 7px rgb(255, 0, 166);
    -webkit-text-stroke: 2px rgba(255, 0, 166, 0.3);
}
.artist-title p {
	font-family: 'Black Han Sans', sans-serif!important;
	text-shadow: 0 0 7px rgb(170, 0, 255);
	-webkit-text-stroke: 2px rgba(170, 0, 255, 0.3);
}	
#artist1 {
	background-image: url('../img/main/mamamoo.png');
	background-size: 130%;
	background-position-x: 40%;
	background-repeat: no-repeat;
}
#artist2 {
	background-image: url('../img/main/geeks.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
#artist3 {
	background-image: url('../img/main/stella.png');
	background-size: contain;
	background-position: center;
    background-repeat: no-repeat;
}
.main-sub-title-container {
	text-align: center;
	border-top: 2px solid #850ce0;
    border-bottom: 2px solid #850ce0;
    margin: 20px 2px 0px;
    padding: 10px 0;
}
.main-sub-title-container h2 {
	font-size: 1.3rem;
    font-weight: 700;
}
.main-sub-title-container h3 {
	font-size: 1rem;
	font-weight: 300;
}

/* timetable */
table {
	margin: 0 2px;
	width: 100%;
}
.tabel-title {
	text-align: center;
}
th {
	font-size: 0.8rem;
	color: #ff6ba4;
	text-align: center;
	font-weight: 500;
	height: 50%;
	/* table-layout: fixed; */
	/* height: 30px; */
}
tr {
	height: 10%;
	width: 30%;
	font-size: 0.8rem;
	font-weight: 700;
	border-bottom: 2px solid #850ce0;
}
td {
	padding: 7px;
}
.td1 {
	width: 40%;
}
.td2 {
	width: 30%;
}

.main-map-container {
	margin-top: 20px;
	height: 400px;;
	border-top: 2px solid #850ce0;
    /* border-bottom: 2px solid #850ce0; */
	width: 100%;
	background-image: url('../img/foodbooth/foodbooth.svg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px;
	position: relative;
}
.map-btn {
	border: 1px solid white;
	display: inline-block;
	font-size: 0.8rem;
	padding: 4px 20px;
	position: absolute;
	bottom: 20px;
    right: 20px;
}
.main-map-container a {
	color: white;	
}