.navbar{
    height : 70px;
    background-color : none;
    position : fixed;
    width : 100%;
    top : 0;
    left : 0;
    z-index:1000;
    
    border-bottom : 2px solid #aa00ff;
    transition:.2s;
}

.navbar.transparent{
    transition:.2s;
    background-color : rgba(0,0,0,.9);
}

.navbar button{
    border : 0;
    background:none;
}

.navbar .fa-home , .navbar .fa-bars{
    filter: drop-shadow(0 0 1px #ff6ba4);
    color : #ff6ba4;
    font-size : 1.4em;
    margin-top: 3px;
}

.navbar p{
    margin : 0;
    font-size : 1.3em;
    color : #fff;
    text-shadow : 0 0 3px #ff6ba4;
    margin-top:-5px;
}

.navbar .logo-wrapper{
	width: 50%;
    height: 100%;
    background-image: url(/static/festival/img/fest_logo.svg);
    background-size: cover;
    padding: 0;
    background-position: center;
    background-position-y: 72%;
    font-size: 0.7rem;
    text-align: center;
    line-height: 7;
    font-weight: 600;
    font-style: italic;
    -webkit-text-stroke: 1px #aa00ff;
    text-shadow: 0 0 5px #aa00ff;
}
