/* stamp page wrapper */
.stamp-page-wrapper {
	text-align: center;
	padding-bottom: 70px;
	padding: 0;
	margin-bottom: 50px;
}
.stamp-title-wrapper {
	border: 2px solid transparent;
	border-top-color: #850ce0;
	/* border-bottom-color: #850ce0; */
	padding: 10px;
}
.stamp-title-wrapper h1 {
	font-size: 1.6rem;
}
.stamp-title-wrapper p {
	font-size: 0.8rem;
    color: #cabbe7;
}
.stamp-wrapper {
	border: 2px solid transparent;
	border-top-color: #850ce0;
	border-bottom-color: #850ce0;
	padding: 20px;
	margin-bottom: 3rem;
}
.stamp-wrapper p {
	color: #cabbe7;
    font-size: 0.9rem;
}
.stamp-wrapper .col-12 {
	margin-top: 1rem;
}
.stamp-wrapper .col-3 {
	padding: 0px 10px;
}
.event-info-wrapper {
	margin-bottom: 3rem;
}
.event-info-wrapper p {
	font-size: 0.9rem;
}
.event-info-wrapper h3, h6 {
	color: #ff6ba4;
}

/* text */
.stamp {
	width: 80%;
	padding-bottom: 80%;
	margin: 5px auto;
	border-radius: 100%;
	background-image: url('../img/stamp/stamp.svg');
	background-size: cover;
    background-repeat: no-repeat;
}

.stamp-product {
	width: 100%;
	padding-bottom: 100%;
	box-shadow: 0 0 0 5px #ff6ba4 inset; 
	margin: 5px auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 100%;
}
#product1 {
	background-image: url('../img/stamp/product1.png');
}
#product2 {
	background-image: url('../img/stamp/product2.png');
}
#product3 {
	background-image: url('../img/stamp/product3.jpg');
}
.event-info-wrapper h3 {
	font-size: 0.9rem;
}
.event-info-wrapper p {
	font-size: 0.8rem;
}

.event-method {
	width: 100%;
	padding-bottom: 100%;
	box-shadow: 0 0 0 5px #5400fe inset; 
	margin: 5px auto;
	position: relative;
	border-radius: 100%;
}
.event-step {
	position: absolute;
    top: 50%;
	left: 0;
	right: 0;
    margin-top: -25px;
}