.img-circle{
    width: 130px;
    border-radius: 50%;
    height: 130px;
    border: 4px solid rgb(118,123,186);

}

.title1 {
    font-family : 'NanumSquare' !important;
    text-align : center;
    font-weight: 900;
    color : white;
    /* -webkit-text-stroke: 1px rgb(108,116,182); */
    padding-top: 20px;
}

.title2 {
    font-size : 19px;
    font-family : 'NanumSquareExtraBold' !important;
    text-align : center;
    font-weight: 900;
    color : white;
    /* -webkit-text-stroke: 1px rgb(108,116,182); */
}

.date1 {
    font-size : 15px;
    font-family : 'NanumSquareExtraBold' !important;
    text-align : center;
    font-weight: 200;
    color :white;
}

.row.talent {
    text-align : center;
    height : 100%;
    overflow-y : auto;
}

.btn {
    flex-shrink: 0;
    display: block;
    margin: 20px auto;
    

}

.btn-primary {
    border: 3px solid rgba(255, 255, 255, 0.48) !important;
    background-color: rgba(0,0,0,0.45);
    font-family : 'NanumSquare' !important;
    font-weight: 900;
    color : white;
    height: 48px;
    width: 294px;
    border-radius: 16px;
}

.container.talent{
    flex: 1;
}

.col-12.talent {
    position: fixed;
    width: 50%;
    bottom: 5px;
    margin: auto;
    display: block;
    margin-left: 3%;
}

.col-6 {
    position:relative;
}

.thumbs {
    position: absolute;
    left: 100px;
    bottom: 42px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: rgb(124,186,255);
}

.fa-thumbs-up {
    margin-top: 5px;
    font-size: 23px;
}

.empty {
    padding : 36px;
}