html, body {
	height: 100%;
}
/* .img-circle{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin : auto 0;
}
.bg {
    background:linear-gradient(to top, #FAA053 10%,#837ddc 60%, #353780 90%);;
} */