<div class="likelion-popup-container hide">
    <button type='button' class='no-btn' onclick="__likelion.popup.close()">
        <i class="fas fa-times"></i>
    </button>

    <div class="likelion-popup-wrapper">
        <div class="popup-header">
            <h1 class='popup-title'>
                부스 안내
            </h1>
        </div>
        <div class="popup-content-container">
            <div class="" style='height: 1000px; width: 100%; background-color:red;'>
				hello
				<h1 class="booth-name"></h1>
            </div>
        </div>
    </div>
</div>