{% extends 'compete_base.html' %}{% load staticfiles %}
{% block contents %}

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h1 class="card-title">학과: {{player.name}}</h1>
            <h6 class="card-subtitle mb-2 text-muted">{{player.intro}} ㅣ {{player.slogan}}</h6>

            <a class= "btn btn-info" href="{% url 'home'%}" class="card-link">home</a>
            <div class=float-right >

            </div>
        </div>
    </div>
</div>

{% for players in students %}
<hr>
<div class="container">
    <div class="card mt-5">
    <h1 class="card-title">{{ players.stu_name }} ㅣ {{ players.age }} ㅣ {{ players.student_num }}</h1>
    <p class="card-subtitle mb-2 text-muted">{{ players.back_num }}, {{ players.exercise }}</p>
</div>
</div>
{% endfor %}
{% endblock %}