{% extends 'base.html' %}{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'competition/css/competition.css' %}">
<link rel="stylesheet" href="{% static 'competition/css/navbar.css' %}">
<!-- COMPETITION 컨텐츠 페이지 헤더 -->
{% block competition-head %}

{% endblock %}
<!-- COMPETITION 컨텐츠 페이지 헤더 -->

{% endblock %}

{% block contents %}
{% include './navbar.html' %}
<div class="competition">
	{% block competition-content %}

	{% endblock %}
</div>
{% endblock %}

{% block endbody %}
	{% block competition-endbody %}
	{% endblock %}
{% endblock %}
