{% extends './competition_base.html' %}

{% load staticfiles %}

{% block competition-head %}
<link rel="stylesheet" href="{% static 'competition/css/main.css' %}">
{% endblock %}

{% block competition-content %}

<!-- outer -->
<div class="competition-main-container">
	<div class="logo-container py-5">
		<div class="logo">

		</div>
	</div>
	<div class="poster-container">
		<div class="poster-wrapper"></div>
		<div class="poster-desc text-center">
			<p class='my-3'>
				2019-10-08 운동장
			</p>
		</div>
	</div>
	<div class="timetable-container">
		<div class="header">
			<p class="title">
				타임 테이블
			</p>
		</div>
		<div class="content">
			
            
		</div>
	</div>
</div>


	{% endblock %}