{% extends './competition_base.html' %}

{% load staticfiles %}

{% block competition-head %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'competition/css/main.css' %}">
{% endblock %}

{% block competition-content %}
<div class="background_img1" >
<img src="{% static 'competition/img/KakaoTalk-1.pneg' %}">

<div class="main_logo" >

</div>

<div class="main_poster" >

</div>


<h1 id="competition">체육대회 메인화면</h1>
<h1>helo</h1>

</div>
<ul>
	<li>
		<a href="{% url 'timeline' %}">경기일정</a>
	</li>
	<li>
		<a href="{% url 'timeline' %}">경기일정</a>
	</li>
	<li>
		<a href="{% url 'seatmap' %}">학과좌석배치</a>
	</li>
	<li>
		<a href="{% url 'compete_foodtruck' %}">푸드트럭</a>
	</li>
	<li>
		<a href="{% url 'event' %}">이벤트</a>
	</li>
	<li>
		<a href="{% url 'notice' %}">주의사항</a>
	</li>
</ul>

{% endblock %}
