{% extends './competition_base.html' %}

{% load staticfiles %}

{% block competition-head %}
<link rel="stylesheet" href="{% static 'competition/css/main.css' %}?v={{ ASSETS_VERSION }}">
{% endblock %}

{% block competition-content %}

<!-- outer -->
<div class="competition-main-container">
	<div class="logo-container pt-5">
		<div class="logo">

		</div>
	</div>
	<div class="submenu my-4">
			<div class="submenu-wrapper">
				<div class="item">
					<a href="{% url 'timeline' %}">경기일정</a>
				</div>
				<div class="item">
					<a href="{% url 'seatmap' %}">학과 좌석배치</a>
				</div>
				<div class="item">
					<a href="{% url 'compete_foodtruck' %}">푸드트럭</a>
				</div>
				<div class="item">
					<a href="{% url 'event' %}">이벤트</a>
				</div>
				<div class="item">
					<a href="{% url 'notice' %}">주의사항</a>
				</div>
			</div>
		</div>
	<div class="poster-container">
		<div class="poster-wrapper"></div>
		<div class="poster-desc text-center">
			<p class='my-3'>
				2019-10-08 운동장
			</p>
		</div>
	</div>
	<div class="timetable-container">
		<p class="comp-title-wrapper">오전 시간표</p>
		<div class="content">
			<div class="timetable_data">
				<table>
					<tr>
						<th>09:00 - 10:00</th>
						<td>학과 가장행렬, 개획식</td>
					</tr>
					<tr>
						<th>10:00 - 11:30</th>
						<td>계주 예선전, 준결승전</td>
					</tr>
					<tr>
						<th>11:30 - 12:30</th>
						<td>발야구,피구,농구,3.4위전,결승전</td>
					</tr>
					<tr>
						<th>12:30 - 13:30</th>
						<td>점심 시간</td>
					</tr>
					<tr>
						<th>13:30 - 14:00</th>
						<td>치어대전 1,2,3위 공연 플레이그 댄스동아리 플래쉬몹 공연</td>
					</tr>
					
				</table>
				<!-- <ul>
					<li class="my-3">09:00-10:00 학과 가장행렬, 개획식</li>
					<li class="my-3">10:00-11:30 계주 예선전, 준결승전</li>
					<li class="my-3">11:30-12:30 발야구,피구,농구,3.4위전,결승전</li>
					<li class="my-3">12:30-13:30 점심 시간</li>
					<li class="my-3">13:30-14:00 치어대전 1,2,3위 공연 플레이그 댄스동아리 플래쉬몹 공연</li>
				</ul> -->
			</div>	
		</div>
		<p class="comp-title-wrapper">오후 시간표</p>
		<div class="content">
			<div class="timetable_data">
				<table>
					<tr>
						<th>14:00 - 15:00</th>
						<td>이벤트 게임(버블축구)</td>
					</tr>
					<tr>
						<th>15:00 - 16:00</th>
						<td> 이벤트 게임(버블여왕밀어내기)</td>
					</tr>
					<tr>
						<th>16:00 - 16:30</th>
						<td>계주 결승</td>
					</tr>
					<tr>
						<th>16:30 - 17:30</th>
						<td>축구 3.4위전 진행</td>
					</tr>
					<tr>
						<th>17:40 - 18:40</th>
						<td>축구결승전행</td>
					</tr>
					<tr>
						<th>18:40 - </th>
						<td>폐회식, 경품추첨</td>
					</tr>
				</table>
				<!-- <ul>
					<li class="my-3">14:00-15:00 이벤트 게임(버블축구)</li>
					<li class="my-3">15:00-16:00 이벤트 게임(버블여왕밀어내기)</li>
					<li class="my-3">16:00-16:30 계주 결승</li>
					<li class="my-3">16:30-17:30 축구 3.4위전 진행</li>
					<li class="my-3">17:40-18:40 축구결승전행</li>
					<li class="my-3">18:40-폐회식, 경품추첨</li>
				</ul> -->
			</div>
		</div>
	</div>
{% endblock %}