{% extends './competition_base.html' %}{% load staticfiles %}

{% block competition-head %}
<link rel="stylesheet" href="{% static '/competition/css/event.css' %}?v={{ ASSETS_VERSION }}">
{% endblock %}

{% block competition-content %}
<div class="event-container">
	<div class="header">
		<a href = "{% url 'comp_home' %}"><div class="logo"></div></a>
	</div>
	<div class="row main-img">
		<img class="main-image" src="{% static 'competition/img/eventlogo.svg' %}">
	</div>
	<div class="row goods-memo-wrap">
		<div class="col-12 goods-memo-content text-center">
			※ 당첨자 발표: 19.10.08(화) ※
		</div>
		<div class = "col-3 goods-quater1">
			<div class="goods-img" id="goods2"></div>
			<div class = "goods-num">1개</div>
			<div class="goods-name">
				애플워치
			</div>
		</div>
		<div class = "col-3 goods-quater2">
			<div class="goods-img" id="goods1"></div>
			<div class = "goods-num">2개</div>
			<div class="goods-name">
				아이패드 미니
			</div>
		</div>
		<div class = "col-3 goods-quater3">
			<div class="goods-img" id="goods3"></div>
			<div class = "goods-num">3개</div>
			<div class="goods-name">
				에어팟 2세대
			</div>
		</div>
		<div class = "col-3 goods-quater4">
			<div class="goods-img" id="goods4"></div>
			<div class = "goods-num">3개</div>
			<div class="goods-name">
				삼성버즈
			</div>
		</div>
	</div>

	<div class="row goods-memo-wrap">
		<div class="col-12 goods-memo-content list">
			<ul>
				<li>인스탁스폴라로이드 <sapn class="count">2개</sapn></li>
				<li>샤오미 미니 블루투스 스피커 <sapn class="count">2개</sapn></li>
				<li>엘지 그램 노트북 14 inch <sapn class="count">1개</sapn></li>
				<li>나도휠 전동 킥보드 <sapn class="count">1개</sapn></li>
				<li>라이언 스마트빔 <sapn class="count">1개</sapn></li>
			</ul>
		</div>
	</div>

	<div class="row goods-memo-wrap">
		<div class="col-12 goods-memo-content list">
			<ul>
				<li>나이키 힙색 <sapn class="count">1개</sapn></li>
				<li>MLB모자 <sapn class="count">1개</sapn></li>
				<li>스타벅스 텀블러 <sapn class="count">3개</sapn></li>
				<li>노스페이스 가방 <sapn class="count">1개</sapn></li>
				<li>카카오(라이언, 네오, 무지) 60cm 대형인형 <sapn class="count">3개</sapn></li>
			</ul>
		</div>
	</div>

	<div class="comp-title-wrapper-soft">
		참여방법
	</div>
	<div class="joinbox1 mb-5">
		<div class="joinbox2">
		체육대회 경품 추첨 방법은 폐회식 때 나눠주는 번호가 있는 팔찌 받고 폐회식 후 경품추첨합니다!!
		</div>
	</div>

	<div class="notice-memo-wrap">
		<div class="notice-memo-content">
			<h4 style="text-align: center;">※ 주 의 사 항 ※</h4>
			<p>	1. 모든 경기가 끝난 후 각 학과 대표님께 추첨 팔찌를 받으세요.<br>
				2. 한 사람당 한개씩이며 2개 이상 가질 수 없습니다.<br>
			</p>
		</div>
	</div>
	<div class="notice-memo-wrap">
			<div class="notice-memo-content">
				<p>	
					3. 해당 상품에 자신의 번호가 호명되면 구령대로 나와, 팔찌를 보여주고 수령증을 작성해서 받아가세요.<br>
					4. 번호 호명 후 시간이 지나도 안나오면 다음 번호로 넘어갑니다.<br>
				</p>
			</div>
		</div>
</div>
{% endblock %}