{% extends './competition_base.html' %}{% load staticfiles %}

{% block competition-head %}
<link rel="stylesheet" href="{% static '/competition/css/event.css' %}">
{% endblock %}

{% block competition-content %}
<div class="event-container">
	<div class="title-img">
		<img class="title-image" src="{% static 'competition/img/titleimg.svg' %}">
	</div>
	<div class="main-img">
		<img class="main-image" src="{% static 'competition/img/eventlogo.svg' %}">
	</div>
	<div class="goods-memo-wrap">
			<div class="goods-memo-content">
				<p>
					기한: 19.10.09(월), 당첨자 발표: 19.10.10(화)
				</p>
			</div>
		</div>
	<div class="join">
		<div class="join-title">참여방법</div>
	</div>
	<div class="joinbox1">
		<div class="joinbox2">
		체육대회 경품 추첨 방법은 폐회식 때 나눠주는 번호가 있는 팔찌 받고 폐회식 후 경품추첨합니다!!
		</div>
	</div>
	<div class="notice-memo-wrap">
		<div class="notice-memo-content">
			<p style="text-align: center;">주 의 사 항</p>
			<p>	1. 모든 경기가 끝난 후 각 학과 대표님께 추첨 팔찌를 받으세요.<br>
				2. 한 사람당 한개씩이며 2개 이상 가질 수 없습니다.<br>
				3. 해당 상품에 자신의 번호가 호명되면 구령대로 나와, 팔찌를 보여주고 수령증을 작성해서 받아가세요.<br>
				4. 번호 호명 후 시간이 지나도 안나오면 다음 번호로 넘어갑니다.<br></p>
		</div>
	</div>
</div>
{% endblock %}