{% extends './competition_base.html' %}{% load staticfiles %}

{% block competition-head %}
<link rel="stylesheet" href="{% static '/competition/css/event.css' %}">
{% endblock %}

{% block competition-content %}
<div class="event-container">
	<div class="title-img">
		<img class="title-image" src="{% static 'competition/img/titleimg.svg' %}">
	</div>
	<div class="main-img">
		<img class="main-image" src="{% static 'competition/img/eventlogo.svg' %}">
	</div>
	<div class="memo-img">
		
	</div>
	<div class="comp-title-wrapper-soft">
		참여방법
	</div>
	<div class="joinbox1">
		<div class="joinbox2">
		체육대회 경품 방법은 폐회식 때 나눠주는 번호써져있는팔찌 받고 폐회식 후 경품추첨합니다!!
		</div>
	</div>
	<div class="memo-img">
		
	</div> 
</div>
{% endblock %}