{% extends './competition_base.html' %}{% load staticfiles %}

{% block competition-head %}
<link rel="stylesheet" href="{% static 'competition/css/foodtruck_detail.css' %}">
{% endblock %}

{% block competition-content %}

<div class="foodtruck-container">
    <!-- 로고가 있는 부분 -->
    <div class="header">
        <div class="logo">
        </div>
            <div class="logo_food">
            푸드트럭 이름

            {% for food in foods %}
            <p>{{ food.name }}</p>
            {% endfor %}
        </div>
    </div>
    <!---->
    <div class="content">
        <div class="item">
            <!-- 트럭 설명이 있는 부분 -->
            <div class="row">
                <div class="col">
                    설명 설명

                    {% for food in foods %}
                    <p>{{ ... }}</p>
                    {% endfor %}
                </div>
            </div>
            <!-- 메뉴가 있는 부분 -->
            <div class="row">
                <div class="col">
                    메뉴 메뉴 메뉴
                    {% for food in foods %}
                    <p>{{ ... }}</p>
                    {% endfor %}
                </div>
            </div>
            <!-- 음식 사진이 있는 부분 -->
            <div class="row">
                <div class="col">
						<img src="..." class="food_main_img">
                </div>
            </div>
        </div>
    </div>

</div>
<!----->

{% endblock %}