{% extends './competition_base.html' %}{% load staticfiles %}

{% block competition-head %}
<link rel="stylesheet" href="{% static 'competition/css/foodtruck.css' %}">
{% endblock %}

{% block competition-content %}
<!---<div class="na" style="background-image:'competition/img/wallpaper.png'; ">--->

<div class="foodtruck-container pb-5">
	<!-- 로고가 있는 부분 -->
	<div class="header">
		<div class="logo">

		</div>
	</div>
	<!-- 설명 박스가 있는 부분 -->
	<div class="content">
		{% for food in foodtrucks %}
		<div class="item-wrapper my-3">
			<div class="item" onclick="__foodtruck.menu_open({{ food.truck_id }})">
				<div class="row">
					<div class="col-3">
						<!---트럭 이미지-->
						<img src="{{ food.truck_img_url }}" class="food_main_img">
					</div>
					<div class="col-9">
						<div class="desc">
							<!---트럭 이름-->
							<div class="food_title">{{ food.truck_name }}</div>
							<!---트럭 한줄소개-->
							<div class="food_desc">{{ food.truck_desc }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

<script>
	var __foodtruck = __foodtruck || {
		menu_open : function(pk){
			__likelion.popup.open('/api/popup/comp/foodtruck/' + pk);
		}
	}
</script>
{% endblock %}