{% load staticfiles %}
<nav class='navbar'>
	<button type="button" id="home"  onclick="location.href='{% url 'home' %}'" >
        <div class="nav-icon home"></div>
	</button>

    <div class="nav-logo"></div>
    <button 
        type="button"
        onclick="__navbar.open()"
        >
        <div class="nav-icon menu"></div>
    </button>
</nav>
<div class="nav-collapse-container hide">
    <div class="nav-collapse-cover">

    </div>
    <div class="nav-collapse-wrapper">
        <div class="header">
            <div class="title">
                <div class="close-btn" onclick="__navbar.close()"></div>
				<a href="{% url 'comp_home' %}">
				<div class="logo"></div>
				</a>
            </div>
        </div>
        <div class="content">
            <div class="item-container mb-4 text-center">
                <div class="title">
                    <a href="/competition/timeline">경기일정</a>
                </div>
            </div>
            <div class="item-container mb-4 text-center">
                <div class="title">
                    <a href="/competition/seatmap">학과 좌석배치</a>
                </div>
            </div>
            <div class="item-container mb-4 text-center">
                <div class="title">
                    <a href="/competition/foodtruck">푸드트럭</a>
                </div>
            </div>
            <div class="item-container mb-4 text-center">
                <div class="title">
                    <a href="/competition/event">이벤트</a>
                </div>
            </div>
            <div class="item-container mb-4 text-center">
                <div class="title">
                    <a href="/competition/notice">주의사항</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var __navbar = __navbar || {
        open : () => {
			$('.nav-collapse-container').removeClass('hide');
			$('body').addClass('oy-hidden');
        },
        close : () => {
			$('.nav-collapse-container').addClass('hide');
			$('body').removeClass('oy-hidden');
        }
	};
	
	$(document).on('scroll' , e =>{
        // console.log(e);
        let navbar = $('.navbar');
        let top = $(e.currentTarget).scrollTop();
        
        if(top != 0){ 
            if(!navbar.hasClass('.stroke')){
                navbar.addClass('stroke');
            } 
        }
        else{ 
            if(navbar.hasClass('stroke')){
                navbar.removeClass('stroke');
            }     
        }
    });
</script>