{% extends './competition_base.html' %}{% load staticfiles %}

{% block competition-head %}
<link rel="stylesheet" href="{%  static '/competition/css/notice.css' %}">
{% endblock %}

{% block competition-content %}
<div class="notice-container">
	<div class="notice-header pb-5">
		<div class="header">
			<div class="logo"></div>
		</div>
		<!-- <div class="notice-logo-text"></div> -->
		<div class="notice-logo-people"></div>
		<div class="notice-logo-text2"></div>
	</div>
	<div class="notice-content">
			<div class="comp-title-wrapper-soft">
				주의사항
			</div>
		<!-- 글 감싸는 그림 -->
		<div class="notice-content-wrapper">
			<!-- 실제 글자 -->
			<div class="notice-content-desc">
				<p>1. 음식 등 자신이 사용한 쓰레기를 잘 치워주세요.<br>
					2. 경기 중 총학생회 인솔에 따라 경기장 난입을 금해주세요.<br>
					3. 경기 응원 시 타학과, 심판진에게 과도한 비난, 욕설은 삼가해주세요.<br></p>
			</div>
		</div>

		<!-- 글 감싸는 그림 -->
		<div class="notice-content-wrapper">
			<!-- 실제 글자 -->
			<div class="notice-content-desc">
					<p>	4. 자신의 경기 시간 경기장을 엄수하고 꼭 지켜주세요<br>
						5. 경기 운영진 지시에 잘 따라주세요.<br><br></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}