{% extends 'base.html' %}
{% block contents %}
{% for data in major %}
<div class = "container">
    <div class = "row" style= "width : 75%;">
        <div class = "col-4" style = "margin : auto; text-align : center;">
            {{ data.major_name }}
        </div>
        <div class = "col-4" style>
            <img src='{{ data.major_logo_url }}' style= "width : 100px; height : 100px;">
        </div>
        <div class = "col-4" style = "margin : auto; text-align : center;">
            {{ data.major_id }}
        </div>
    </div>
</div>
{% endfor %}

<div class="wrap"></div>
<script>
$(function(){
    $.ajax({
        url: "http://127.0.0.1:8000/api/fest/contest/result",
        dataType:"json",
        success:function(data) {
            if(data.data.length > 0){
                var tb = $("<table/>");
                for(var i in data.data){
                    var $cv_id = data.data[i].cv_id;
                    var $count = data.data[i].count;
                    var $cont_participant_nm = data.data[i].cont_participant_nm;
                    var $cont_participant_img_url = data.data[i].cont_participant_img_url;

                    var row =$("<tr/>").append(
                        $("<td/>").text($cv_id),
                        $("<td/>").text($count),
                        $("<td/>").text($cont_participant_nm),
                        $("<td/>").attr("src", $cont_participant_img_url),
                    );
                    tb.append(row);
                }
                $(".wrap").append(tb);
            }
        }
    });
});
$(function(){
    $.ajax({
        url:"http://127.0.0.1:8000/competition/data",
        dataType:"json",
        success : function(data){
            console.log(data);
        }
    });
});
</script>
{% endblock %}