{% extends './competition_base.html' %}{% load staticfiles %}
{% block competition-head %}
<link rel="stylesheet" href="{% static '/competition/css/timeline.css' %}">
{% endblock %}
{% block competition-content %}

<div class="competition-container">
	<div class="title-img">
		<img class="title-image" src="{% static 'competition/img/titleimg.svg' %}">
	</div>
	{% for datas in data %}
		<div class="game">
			<div class="game-name">
				{{datas.sch_title}}
			</div>
		</div>
		<div class="timetable-list-content">
			<div class="timetable-list">
				<div class="major">
					<div class="major1">
						<div class="major-logo">
							<img src="{% static 'competition/img/flag.png' %}" style="width:100%; height:100%;">
						</div>
						<div class="major-name">
							{{datas.sch_major_a}}
						</div>
					</div>
						<div class="vs">
							<img src="{% static 'competition/img/vs.png' %}" style="width: 30px; margin-top: 55px;">
						</div>
					<div class="major2">
						<div class="major-logo">
							<img src="{% static 'competition/img/flag.png' %}" style="width:100%; height:100%;">
						</div>
						<div class="major-name">
							{{datas.sch_major_b}}
						</div>
					</div>
				</div>
				<div class="game-info">
					<div class="game-time">{{datas.sch_date}}</div>
					<div class="game-place">{{datas.sch_stage}}</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}