.popup-foodtruck-container{
    background-color:purple;
}

.popup-foodtruck-title{

    background-color:purple;
    color:white;
}

.popup-foodtruck-description{

    background-color:purple;
    color:white;
}