#circle {
    background-color:#ffffff;
    width:700px;
    height:700px;
    border-radius:1000px;
    text-align:center;
    margin:0 auto;
    font-size:12px;
    vertical-align:middle;
    line-height:150px;
}
#circle2{
background-color:#215f88;
    width:400px;
    height:140px;
    border-radius:1000px;
    text-align:center;
    margin:0 auto;
    font-size:50px;
    color:cornsilk;
    vertical-align:middle;
    line-height:150px;
}

.pop-image-circle {
    width : 100%;
}

.likelion-popup-wrapper {
    background-image: url(/static/competition/img/compete_background.svg);
    background-repeat:no-repeat;
    background-size: cover;
}

.col-6.pop-logo-wrapper {
    margin: auto;
}

@font-face { 
    font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal;
    }

.col-12.pop-major-data {
    margin: auto;
    text-align: center;
    font-family : 'Binggrae-Bold';
    font-size : 20px;
}

.row.pop-dash-wrapper {
    background-color: white;
    text-align: center;
    border-style: dashed;
    border-color: #365E77;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
}

.row .pop-dash-wrapper > p {
    margin : auto;
    padding: 3%
}

.row.pop-title {
    margin: 0% auto;
    height: 100%;
    width: 100%;

}

.col-10.pop-title {
    background-image: url(/static/common/img/major-inform.svg);
    background-size: 100%;
    padding: 17%;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 4%;
}

.col-12.pop-major-data > h2 {
    margin-top : 0.5rem
}

.col-1.pop-vs-img {
    background-image: url(/static/competition/img/vs.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top : 15%;
}

.pop-vs-wrapper {
    margin-top : 4%;
}

.col-5.pop-name {
    font-family : 'Binggrae-Bold';
    font-size : 15px ;
}

.pop-logo {
    width: 100%;
}

.col-5.pop-name > p {
    margin-top : 5%;
}

.pop-dash-wrapper {
    background-color: white;
    text-align: center;
    border-style: dashed;
    border-color: #365E77;
    margin: auto;
    padding-left: 4%;
    padding-right: 4%;
}

.pop-logo-circle {
    width : 120px;
    height : 120px;
    border-radius : 50%;
    margin-top : 5%;
}