{% load staticfiles %} 
<!doctype html>
<html lang="en">
	<head>
	<meta charset="utf-8">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,shrink-to-fit=no,user-scalable=no,minimal-ui,viewport-fit=cover">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="삼육대학교 2019.10.07~2019.10.08 천보축전 체육대회 홈페이지">
	<title>SYUFESTA :: 삼육대학교 천보축전x체육대회</title>
	
	<meta property=“og:type” content="website">
	<meta property="og:title" content="SYUFESTA :: 삼육대학교 천보축전x체육대회">
	<meta property="og:description" content="삼육대학교 2019.10.07~2019.10.08 천보축전 체육대회 홈페이지입니다.">
	<meta property="og:image" content="https://elasticbeanstalk-ap-northeast-2-894674552152.s3.ap-northeast-2.amazonaws.com/images/meta_favi/meta.png">
	<link rel="icon" href="{% static 'common/img/favicon.ico' %}">
	<!-- jQuery -->
	<script type="text/javascript" src="{% static 'common/js/jquery.js' %}"></script>

	<!-- 멋사 라이브러리 -->
	<script type="text/javascript" src="{% static 'common/js/likelion.module.js' %}?v={{ ASSETS_VERSION }}"></script>
	
	<!-- 멋사 팝업 라이브러리 -->
	<link rel="stylesheet" href="{% static 'common/css/popup/likelion.popup.core.css' %}?v={{ ASSETS_VERSION }}">
	<script type="text/javascript" src="{% static 'common/js/popup/likelion.popup.core.js' %}?v={{ ASSETS_VERSION }}"></script>

	<!-- ETC -->
	<script src="{% static 'common/js/moment-with-locales.min.js' %}"></script>
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="{% static 'common/css/bootstrap/bootstrap.css' %}">
	<script src="{% static 'common/js/bootstrap/bootstrap.js' %}"></script>
	<script src="{% static 'common/js/bootstrap/bootstrap_jquery.js' %}"></script>

	<!-- Swiper CDN -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
	<link rel="stylesheet" href="{% static 'common/css/swiper/swiper.css' %}">

	<!-- Common_css -->
	<link rel="stylesheet" href="{% static 'common/css/common.css' %}?v={{ ASSETS_VERSION }}">
	
	<!-- Common_js -->
	<script src="{% static 'common/js/scroll.top.js' %}?v={{ ASSETS_VERSION }}"></script>

	<!-- Page Custom -->

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149309855-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-149309855-1');
	</script>

	{% block head %}

	{% endblock %}

	</head>

	<body>
	{% block contents %}

	{% endblock %} 

	<!-- footer -->
	{% include './footer.html' %}

	{% block endbody %} {% endblock %}
	<!-- top btn -->
	{% if 'competition' in request.build_absolute_uri %}
	<button onclick="topFunction()" id="topBtn" title="top" class="comp-topBtn">TOP</button>
	{% elif 'festival' in request.build_absolute_uri %}
	<button onclick="topFunction()" id="topBtn" title="top" class="fest-topBtn">TOP</button>
	{% else %}
	<button onclick="topFunction()" id="topBtn" title="top">TOP</button>
	{% endif %}
	</body>
</html>
