{% if 'festival' in request.build_absolute_uri %}
	{% if 'stamp' in request.build_absolute_uri %}
	<footer id="fest-footer" class="mb-5">
	{% elif 'talent' in request.build_absolute_uri %}
	<footer id="fest-footer" class="mb-5">
	{% else %}
	<footer id="fest-footer">
	{% endif %}	
{% elif 'competition' in request.build_absolute_uri %}
<footer id="compet-footer">
{% else %}
<footer>
{% endif %}
	<div class="container">
		<div class="homelogo"></div>
		<p>서울특별시 노원구 화랑로 815 삼육대학교</p>
		<p>
			삼육대학교 59대 Awoolim 총학생회<br>
			멋쟁이 사자처럼 at 삼육대학교 7기
		</p>	
		<p>
			개발 | 유경수 박기홍 배성현 위보람 이수연 권택준 성예지 김지현 정현주 김혜원 오지수 김동혜 전유림
		</p>
		
		<a href="http://sahmyook.likelion.org/" target="_blank">
			<div class="footer-icon-wrapper"><div class="footer-icon"></div></div>
		</a>
		<a href="https://www.facebook.com/likelionsahmyook/" target="_blank">
			<div class="footer-icon-wrapper"><div class="footer-icon"><i class="fab fa-facebook-f"></i></div></div>
		</a>
		<a href="https://www.instagram.com/likelion_syu/" target="_blank">
			<div class="footer-icon-wrapper"><div class="footer-icon"><i class="fab fa-instagram"></i></div></div>
		</a>
		<a href="https://www.facebook.com/SYU.GSA/" target="_blank">
		<div class="footer-icon-wrapper"><div class="footer-icon"></div></div>
		</a>
	</div>
</footer>