{% extends 'base.html' %}{% load staticfiles %}

<!-- Mainpage head css,js -->
{% block head %}
	<link rel="stylesheet" href="{% static 'common/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'festival/css/festival.css' %}">
	<link rel="stylesheet" href="{% static 'competition/css/competition.css' %}">
{% endblock %}

<!-- Mainpage contents -->
{% block contents %}

<div class="swiper-container">
	<div class="swiper-wrapper">
		<!-- 체육대회 메인 -->
		<div class="swiper-slide">
			<div class="container competition">
				{% include 'competition/competition_main.html' %}
			</div>
		</div>
		<!-- 홈페이지메인 -->
		<div class="swiper-slide">
			<div class="container main">
				<h1>메인화면</h1>
			</div>
		</div>
		<!-- 축제 메인 -->
		<div class="swiper-slide">
			<div class="container festival">
				{% include 'festival/festival_main.html' %}
			</div>
		</div>
	</div>
	<!-- Add Arrows -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>

{% endblock %}

<!-- Mainpage endbody contents -->
{% block endbody %}
<script>
	var swiper = new Swiper('.swiper-container', {
		initialSlide: 1,

		navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
		},
	});
</script>
{% endblock %}

