{% extends 'base.html' %}{% load staticfiles %}

<!-- Mainpage head css,js -->
{% block head %}

{% endblock %}

<!-- Mainpage contents -->
{% block contents %}

<div class="swiper-container">
	<div class="swiper-wrapper">
		<!-- 체육대회 메인 -->
		<div class="swiper-slide">
			{% include 'competition/competition_main.html' %}

		</div>
		<!-- 홈페이지메인 -->
		<div class="swiper-slide">
			<h1>메인화면</h1>
		</div>
		<!-- 체육대회 메인 -->
		<div class="swiper-slide">
			<h1>축제 메인화면</h1>
		</div>
	</div>
	<!-- Add Arrows -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
</div>

{% endblock %}

<!-- Mainpage endbody contents -->
{% block endbody %}
<script>
	var swiper = new Swiper('.swiper-container', {
		initialSlide: 1,
		navigation: {
		nextEl: '.swiper-button-next',
		prevEl: '.swiper-button-prev',
		},
	});
</script>
{% endblock %}

