{% extends 'base.html' %}{% load staticfiles %}

<!-- Mainpage head css,js -->
{% block head %}
	<link rel="stylesheet" href="{% static 'common/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'festival/css/festival.css' %}">
	<link rel="stylesheet" href="{% static 'competition/css/competition.css' %}">
{% endblock %}

<!-- Mainpage contents -->
{% block contents %}

<div class="container main">
	<div class="main-title-wrapper">
		<video autoplay muted loop id="myVideo">
			<source src="{% static 'common/img/bg-v.mp4' %}" type="video/mp4">
		</video>
		<div class="main-logo">
			<h1>삼육대학교 천보축전 X 체육대회</h1>	
		</div>
	</div>
	<div class="main-movie-wrapper">
	</div>
	<div class="go-btn-wrapper">
		<a href="{% url 'fest_home' %}">
			<div class="go-festival">
				<div class="go-fest-bg"></div>
				<div class="go-text">
					<h2>천보축전</h2>
					<p>10.07 MON</p>
				</div>
			</div>
		</a>
		<a href="{% url 'comp_home' %}">
			<div class="go-competition">
				<div class="go-comp-bg"></div>
				<div class="go-text">
					<h2>체육대회</h2>
					<p>10.08 TUE</p>
				</div>
			</div>
		</a>
	</div>

	<div class="main-info-wrapper">
		<a href="https://new.syu.ac.kr/school-life/school-bus/" target="_blank">
			<div class="go-bus">
				<h2>셔틀버스 안내</h2>
			</div>
		</a>
		<a href="https://new.syu.ac.kr/school-life/parking/" target="_blank">
			<div class="go-parking">
				<h2>주차 안내</h2>
			</div>
		</a>
	</div>
	
</div>	

{% endblock %}

<!-- Mainpage endbody contents -->
{% block endbody %}
{% endblock %}

