@font-face { 
    font-family: 'HSBombaram'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff'); font-weight: normal; font-style: normal;
    }
body{
    font-family: 'HSBombaram';
}
.container.competition {
 background: linear-gradient(to top, #FAA053 10%,#837ddc 60%, #353780 90%);
    height: 100%;
	margin: 0px;
	width: 100%;
	max-width: 100%;
	padding: 10%;
}

.competition{
	width : 100%;
	min-height : 100%;
}

/* title */
.comp-title-wrapper {
	width: 100%;
    height: 45px;
    background-color: #014657;
    color: white;
    border-radius: 52px;
    text-align: center;
	padding: 7px 0px 5px 0px;
	font-size: 1.3rem;
	width: 50%;
    margin: auto;
}
