@font-face { 
    font-family: 'HSBombaram'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff'); font-weight: normal; font-style: normal;
    }

body{
    font-family: 'HSBombaram';
}

.competition{
    background-image: url(../img/compete_background.svg);
    background-size: cover;
    width : 100%;
    min-height : 100%;
    overflow-y: scroll;
}
.event-container {
	padding-bottom: 50px;
}
.event-container .title-img .title-image{
    width: 60%;
    margin-left: 20%;
    margin-top: 45px;
}

.event-container .main-img .main-image {
    width: 55%;
    margin-left: 22.5%;
    position: relative;
}

.event-container .goods-memo-wrap{
    background-image: url(../img/goodsmemo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 41vw;
    margin: 0 auto;
    margin-top : 5%;
    position: relative;
}

.event-container .goods-memo-wrap .goods-memo-content{
    margin: 0 auto;
    text-align : center ;
    margin-top: 4vw;
    font-family: 'HSBombaram';
    color: #b83244;
}

.goods-img1 {
    border: 0.5vw solid #365E77;
    border-radius: 50%;
    margin: auto;
    width: 18vw;
    display: block;
    height: 18vw;
    background-image: url(../img/chicken.svg);
    background-size: cover;
    background-position: center;
}

.goods-num {
    position: absolute;
    background-color : #365E77;
    width : 2vw;
    height : 2vw;
    
}

.goods-name {
    text-align : center;
    font-size : 2.8vw;
    color : #365E77;
    font-weight : 700;
}

.event-container .goods-memo-wrap .goods-memo-content p{
    color:#a9373b;
}
.event-container .join {
    width: 33%;
    height: 32px;
    background-color:#365E77;
    border-radius: 80px;
    margin-left: 33%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.event-container .join-title {
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
}

.event-container .joinbox1{
    background-color: #365E77;
    width: 90%;
    margin-left: 5%;
    padding: 5px;
}

.event-container .joinbox1 .joinbox2{
    background-color: #6792a6;
    color: white;
    padding: 7px;
}

.event-container .notice-memo-wrap{
    background-image: url(../img/noticememo.svg);
    width: 350px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 8px;
    margin-top: 40px;
}

.event-container .notice-memo-wrap .notice-memo-content{
    margin: 0 auto;
}

.event-container .notice-memo-wrap .notice-memo-content p{
    color:#a9373b;
}