@font-face { 
    font-family: 'HSBombaram'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSBombaram.woff') format('woff'); font-weight: normal; font-style: normal;
    }

body{
    font-family: 'HSBombaram';
}

.competition{
    background-image: url(../img/compete_background.svg);
    background-size: cover;
    width : 100%;
    min-height : 100%;
    overflow-y: scroll;
}
.event-container {
	padding-bottom: 50px;
}
.event-container .title-img .title-image{
	width: 60%;
	height: 100%;
	margin: 0px auto;
    margin-top: 45px;
}
.event-container .row {
	margin: 0px;
}
.event-container .main-img .main-image {
	width: 55%;
	height: 100%;
	position: relative;
	margin: 20px auto;
}

.event-container .goods-memo-wrap{
    background-image: url(../img/goodsmemo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 41vw;
    margin: 0 auto;
    margin-top : 5%;
	position: relative;
	padding: 0px 10px;
}

.event-container .goods-memo-wrap .goods-memo-content{
    margin: 0 auto;
    text-align : center ;
    margin-top: 4vw;
    font-family: 'HSBombaram';
	color: #b83244;
	font-size: 5vw;
}

.col-12.goods-memo-content.list{
	color:#365E77!important;
	font-size: 4vw!important;
	text-align : left!important;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.count {
	border-radius: 12px;
    font-size: 2.5vw;
    background-color: #573164;
    color: white;
    padding: 1% 2%;
    position: relative;
    top: -2px;
    right: -3px;
}


/* 경품 */
.goods-img {
    border: 0.5vw solid #583164;
    border-radius: 50%;
    margin: auto;
    width: 18vw;
    display: block;
    height: 18vw;
    background-size: 146%;
	background-position: center;
	margin-bottom: 10%;
	position: relative;
}
#goods1 {
	background-image: url(../img/event/아이패드.svg);
}
#goods2 {
	background-image: url(../img/event/애플와치2.svg);
}
#goods3 {
	background-image: url(../img/event/에어팟2.svg);
	background-position-y: 27%;
}
#goods4 {
	background-image: url(../img/event/버즈.svg);
	background-position-y: 27%;
}
.goods-num {
	position: absolute;
    background-color: #583164;
    color: white;
    font-size: 2.5vw;
    padding: 1.5vw;
	border-radius: 50px;
	top: -5px;
    left: 5px;
}

.goods-name {
    text-align : center;
    font-size : 3vw;
    color : #365E77;
    font-weight : 700;
}

.event-container .goods-memo-wrap .goods-memo-content p{
    color:#a9373b;
}
.event-container .join {
    width: 33%;
    height: 32px;
    background-color:#365E77;
    border-radius: 80px;
    margin-left: 33%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.event-container .join-title {
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin-top: 20px;
}

.event-container .joinbox1{
    background-color: #365E77;
    width: 90%;
    margin-left: 5%;
    padding: 5px;
}

.event-container .joinbox1 .joinbox2{
    background-color: #6792a6;
    color: white;
    padding: 7px;
}

.event-container .notice-memo-wrap{
    background-image: url(../img/noticememo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding: 18px 30px;
    margin-top: 20px;
    width: 100%;
    height: 45vw;
}

.event-container .notice-memo-wrap .notice-memo-content{
	margin: 0 auto;
	color: #a9373b;
	padding: 1vw;
}

.event-container .notice-memo-wrap .notice-memo-content p{
	color:#a9373b;
	font-size: 4.5vw;
    width: 100%;
}

.goods-memo-wrap .col-3 {
	padding: 0;
}