
.wrap{
	position: relative;
width: 350px;
margin:0px auto;
}
.food_main_img{
	width: 50%;
vertical-align: middle;}

.food_main_text1{
			position: absolute;
			top: 50%;
			left: 20%;
	transform: translate( -50%, -50% );
}


.food_main_text2{
	position: absolute;
	top: 50%;
	left: 43%;
transform: translate( -50%, -50% );
}

/* 여기서부터 */

.foodtruck-container{
	width : 100%;
	height: 100%;
	background-image: url(../img/wallpaper.png);
	background-size : cover;
}