
.competition-main-container{
    width : 100%;
    min-height : 100%;
    /* background-image : url(../img/mainimage.svg); */
    background-size: cover;
    background-position: center;

}

/* .competition-main-container .logo-container .logo{
    background-image:url(../img/compete_logo_main.svg);
    width:300px;
    height:100px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    margin:0 auto;
} */

.competition-main-container .poster-container .poster-wrapper {
    background-image: url(../img/competitionimg.jpg);
	width: 100%;
    padding-bottom: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}

.competition-main-container .poster-container .poster-desc p{
    color: #024557;
    font-size: 1.3em;
    font-weight: 900;
}

.competition-main-container .timetable-container .header {
    width: 200px;
    height: 50px;
    background-color: #024557;
    color: #fff;
    margin: 0 auto;
    border-radius: 50px;
    text-align: center;
    padding-top : 9px;
}

.competition-main-container .timetable-container .header p{
    font-size : 1.3em;
}
.competition-main-container .timetable-container .content {
    background-image: url(../img/memopage.svg);
    width: 90%;
    padding-bottom: 61%;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px auto;
    padding-top: 9px;
}

.competition-main-container .timetable-container .content-2 {
    background-image: url(../img/memopage.svg);
    
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    padding-top: 9px;
}
.competition-main-container .timetable-container .content .timetable_data {
	margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 23px;
    line-height: 21px;
    position: absolute;
    top: 0;
    font-size: 4vw;
}

.timetable_data table {
	width: 100%;
    margin-top: 30px
}
.timetable_data th {
	width: 40%;
	text-align: center;
	padding: 4px 0px;
}

/* 
.competition-main-container .timetable-container .content .timetable_data ul {
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
 

}

.competition-main-container .timetable-container .content .timetable_data-1 {
    margin: 0 auto;
    width: 100%;
    height: 258px;
    padding: 22px;
    line-height: 20px;
} */
/*.competition-main-container .timetable-container .content .timetable_data-1 ul {
    font-size: 1.0em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
   

}
 */

    