.navbar {
    position: fixed !important;
	width : 100%;
	z-index: 1;
	height: 70px;
	font-size: 1.2rem;
}

.navbar .nav-icon {
    background-position: center;
    background-size : cover;
    width : 30px;
    height : 30px;
}
.navbar .nav-icon.home{
    background-image: url(../img/nav.home.png);
}
.navbar .nav-icon.menu{
    background-image: url(../img/nav.menu.png);
}

.navbar a {
	color : #29627f;
}

.navbar button{ border : 0; background : none; border-radius: 0; }

.nav-collapse-container.hide .nav-collapse-cover{
    transition : .3s;
    opacity: 0;
    z-index: -10000;
}
.nav-collapse-container.hide .nav-collapse-wrapper{
    transition : .3s;
    right : -80%;
}
.title {
	font-size: 1.2rem
}
.nav-collapse-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10000;
    position: fixed;
    opacity: 1;
    transition : .3s;
}

.nav-collapse-wrapper{
    background-color: #29627f;
    position: fixed;
    right: 0;
    width: 80%;
    height: 100%;
    top: 0;
    z-index:10001;
    transition : .3s;
}

.nav-collapse-wrapper .nav-header .title .logo{
    background-image : url('../img/sidemenu_logo.svg');
    width: 200px;
    height: 124px;
    background-size: cover;
    background-position: center;
	margin: 15% auto;
}
.nav-collapse-wrapper .nav-header .close-btn {
	width: 40px;
    position: absolute;
    top: 15px;
    left: 15px;
    height: 40px;
    background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/navbar/close-button.svg);
    background-size: 60%;
}

.nav-collapse-wrapper .nav-content{
    width : 75%;
    margin : 0 auto;
}

.nav-collapse-wrapper .nav-content .item-container{
    background-color: #fff;
    padding: 7px;
    border-radius: 25px;
}

.nav-collapse-wrapper .nav-content .item-container a{
    text-decoration: none;
    color:#29617e;
}

.stroke .nav-icon {
    transition: .1s;
    filter : drop-shadow(2px 2px 0px #fff);
}