
   .wrap{
      width: 300%;
      height: 300%;
   }
   .wrap>.img{
      background-image : url(../img/compete_seatmap.png);
      width:1336px;
      height:1000px;
      background-repeat: no-repeat;
      background-size : contain;
   }
   .wrap>.img>.btn_group{
    width: 86px;
    height: 80px;
    border-radius: 50px;
    background:none;
    border:none;
   }
   
   #test_btn1{
    position: absolute;
    top: 199px;
    left: 405px;
   }

   #test_btn2{
    position: absolute;
    top: 198px;
    left: 504px;
   }
   #test_btn3{
    position: absolute;
    top: 200px;
    left: 606px;
   }
   #test_btn4{
    position: absolute;
    top: 540px;
    left: 45px;
   }
   #test_btn5{
    position: absolute;
    top: 200px;
    left: 701px;
   }
   #test_btn6{
    position: absolute;
    top: 198px;
    left: 798px;
   }
   #test_btn7{
    position: absolute;
    top: 202px;
    left: 896px;
   }
   #test_btn8{
    position: absolute;
    top: 227px;
    left: 991px;
   }
   #test_btn9{
    position: absolute;
    top: 277px;
    left: 1074px;
   }
   #test_btn10{
    position: absolute;
    top: 346px;
    left: 1155px;
   }
   #test_btn11{
    position: absolute;
    top: 572px;
    left: 1207px;
   }
   #test_btn12{
    position: absolute;
    top: 865px;
    left: 933px;
   }
   #test_btn13{
    position: absolute;
    top: 865px;
    left: 830px;
   }
   #test_btn14{
    position: absolute;
    top: 865px;
    left: 625px;

   }
   #test_btn15{
    position: absolute;
    top: 865px;
    left: 527px;
   }
   #test_btn16{
    position: absolute;
    top: 865px;
    left: 417px;
   }
   #test_btn17{
    position: absolute;
    top: 859px;
    left: 320px;
   }
   #test_btn18{
    position: absolute;
    top: 831px;
    left: 223px;
   }
   #test_btn19{
    position: absolute;
    top: 767px;
    left: 135px;

   }
   #test_btn20{
    position: absolute;
    top: 655px;
    left: 67px;
   }
   #test_btn21{
    position: absolute;
    top: 417px;
    left: 65px;
   }
   #test_btn22{
    position: absolute;
    top: 318px;
    left: 124px;
}
   #test_btn23{
    position: absolute;
    top: 242px;
    left: 213px;
   }
   #test_btn24{
    position: absolute;
    top: 205px;
    left: 304px;
   }