.competition{
    height: 100%;
}

.competition-container{
    background-image: url(../img/compete_background.svg);
    background-size: cover;
    width : 100%;
    height : 100%;
    overflow-y: scroll;
}
@font-face { 
    font-family: 'Binggrae-Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae-Bold.woff') format('woff'); font-weight: normal; font-style: normal;
    }

body{
    font-family: 'Binggrae-Bold';
}

.competition-container .title-img .title-image{
    width: 60%;
    margin-left: 20%;
    margin-top: 35px;
    padding-bottom: 15px;
}

.timetable-date{
    display:inline-block;
    vertical-align:middle;
}

.game{
    width: 50%;
    height: 35px;
    background-color:#365E77;
    color: white;
    border-radius: 80px;
    padding-top: 1%;
}

.game-name{
    text-align: center; 
}

.game-round{
    width: 100%;
    text-align: left;
}

.timetable-list-content{
    background-color: white;
    padding: 7px;
    margin-top: 10px;
    margin: 10px;
}

.timetable-list{
    background-color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: dashed;
    border-color: #365E77;
}

.major{
   font-family: 'BBTreeGR';
   font-size: 1.2em;
}

.major-logo{
    display:inline-block;
    vertical-align:middle;
}

.major-name{
    display:inline-block;
    vertical-align:middle;
    color: #365E77;
}

.major1{
    display:inline;
    vertical-align:middle;
    width: 45%;
    float: left;
}

.major2{
    display:inline;
    vertical-align:middle;
    width: 45%;
    float: left;
}

.vs{
    display:inline;
    vertical-align:middle;  
    float: left;
}

.game-info{
    text-align: center;
    font-size: 1.1em;
}

.game-time{
    margin-top: 7px;
    color:#365E77;
}

.game-place{
    font-size: 1.15em;
    color: #365E77;
}
