.competition{
    height: 100%;
}

.competition-container{
    background-image: url(../img/compete_background.svg);
    background-size: cover;
    width : 100%;
    height : 100%;
    overflow-y: scroll;
}

.competition-container .title-img .title-image{
    width: 60%;
    margin-left: 20%;
    margin-top: 35px;
    padding-bottom: 15px;
}

.competition-container .game .game-name{
    text-align: center; 
}

.competition-container .timetable-list-content{
    background-color: white;
    padding: 7px;
    margin-top: 10px;
    margin: 10px;
}

.competition-container .timetable-list-content .timetable-list{
    background-color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: dashed;
    border-color: #365E77;
}

.competition-container .timetable-list-content .timetable-list .major{
     font-size: 1.2em;
}

.competition-container .timetable-list-content .timetable-list .major .major1 .major-logo{
    display:inline-block;
    vertical-align:middle;
}

.competition-container .timetable-list-content .timetable-list .major .major1 .major-name{
    display:inline-block;
    vertical-align:middle;
    color: #365E77;
}

.competition-container .timetable-list-content .timetable-list .major .major2 .major-name{
    display:inline-block;
    vertical-align:middle;
    color: #365E77;
}
.competition-container .timetable-list-content .timetable-list .major1{
    display:inline;
    vertical-align:middle;
    width: 45%;
    float: left;
}

.competition-container .timetable-list-content .timetable-list .major2{
    display:inline;
    vertical-align:middle;
    width: 45%;
    float: left;
}

.competition-container .timetable-list-content .timetable-list .major .vs{
    display:inline;
    vertical-align:middle;  
    float: left;
}

.competition-container .timetable-list-content .timetable-list .game-info{
    text-align: center;
    font-size: 1.1em;
}

.competition-container .timetable-list-content .timetable-list .game-info .game-time{
    color:#365E77;
    font-size: 1.15em;
    display: inline-block;
}

.competition-container .timetable-list-content .timetable-list .game-info .game-place{
    font-size: 1.15em;
    color: #365E77;
}
