{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/cheer_contest.css' %}">
{% endblock %}

{% block festival-content %}
 <div class="cheer-container">
	<div class="title-wrapper">
		<h1>삼육대학교 치어대전</h1>
		<h2>09.07(월) 축제당일 19:00<h2>
		<h3>삼육대학교 대강당</h3>
	</div>
	<div class="timetable-wrapper">
		<h3>대전순서</h3>
		<ol>
			<li>환경지다인원예</li>
			<li>유아교육</li>
			<li>건축</li>
			<li>상담심리</li>
			<li>영어영문</li>
			<li>중국어</li>
			<li>화학생명</li>
			<li>경영정보</li>
			<li>컴퓨터메카트로닉스</li>
		</ol>
	</div>
 </div>

{% endblock %}