{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/cheer_contest.css' %}">
{% endblock %}

{% block festival-content %}
 <div class="cheer-container">
	
	<div class="title-wrapper">

		<div class="title-logo">
				
		</div>
		
		<!-- <h2>09.07(월) 축제당일 19:00
		<br>삼육대학교 대강당</h2> -->

		<div class="cheertitle_container">
			<!-- <h1>삼육대학교 치어대전</h1> -->
			<h3>09.07(월) 축제당일 19:00<h3>
			<h3>삼육대학교 대강당</h3>
		</div>		

	</div>
	
	<hr class="cheer_hr">
	<br>
		<div class="cheer-video">
			<iframe width="400" height="200" src="https://www.youtube.com/embed/CTjDL9KdDFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<br> 
			<iframe width="400" height="200" src="https://www.youtube.com/embed/NO6mVL6CuuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> <!-- <audio  -->
				<!-- 밑에껀 웹에서 전체 크기로 나오는 클래스임
				화질이 깨져보여 일단 주석처리함 -->
				<!-- <div class='embed-container'><iframe src='https://www.youtube.com/embed//CTjDL9KdDFQ' frameborder='0' allowfullscreen></iframe></div> -->
		</div>
		<br>
	<div class="timetable-wrapper">

		<hr class="cheer_hr">
		<!-- <h3>대전순서</h3> -->
		<h2>대      전      순     서</h2>
		<hr class="cheer_hr">
		<br>
		

		<ol>
			<li>환경디자인원예</li>
			<li>유아교육</li>
			<li>건축</li>
			<li>상담심리</li>
			<li>영어영문</li>
			<li>중국어</li>
			<li>화학생명</li>
			<li>경영정보</li>
			<li>컴퓨터메카트로닉스</li>
		</ol>
	</div>
 </div>

{% endblock %}