{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
	<link rel="stylesheet" href="{% static 'festival/css/festival.css' %}?v={{ ASSETS_VERSION }}">
	<link rel="stylesheet" href="{% static 'festival/css/navbar.css' %}?v={{ ASSETS_VERSION }}">

	<!-- festival 컨텐츠 페이지 헤더 -->
	{% block festival-head %}
	{% endblock %}
	<!-- festival 컨텐츠 페이지 헤더 -->

{% endblock %}




{% block contents %}
{% include './navbar.html' %}
	{% if request.path == '/festival/foodtruck' %}
	<div class="container festival food-con">
	{% else %}
	<div class="container festival">
	{% endif %}
	{% block festival-content %}

	{% endblock %}
</div>
{% endblock %}

{% block endbody %}
	<!-- festival endbody -->
	{% block festival-endbody %}
	<link rel="stylesheet" href="{% static 'festival/css/navbar.css' %}?v={{ ASSETS_VERSION }}">
	{% endblock %}
	<!-- festival endbody -->
{% endblock %}