{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/map.css' %}">
{% endblock %}

{% block festival-content %}
	<!-- <div class="festmap title-container">
		<h1>2019 삼육대학교 천보축전</h1>
	</div> -->
	<div class="festmap-container">
		<div class="festmap-wrapper">
			<div class="map-info-wrapper">
				<a href="{% url 'fest_home' %}#artist1">
				<div id="z1" class="zone">
					<p>Z1</p>
				</div>
				</a>
				<div id="z2" class="zone" onclick="showPopup(1);">
					<p>Z2</p>
					<p class="click z2" >포토 ZONE</p>
				</div>
				<div id="z3" class="zone" onclick="showPopup(2);">
					<p>Z3</p>
					<p class="click z3">도서관 ZONE</p>
				</div>
				<a href="{% url 'fest_foodtruck' %}">
				<div id="z4" class="zone">
					<p>Z4</p>
					<p class="click z4">부스 ZONE</p>
				</div>
				</a>
				<a href="{% url 'fest_foodtruck' %}">
				<div id="z5" class="zone">
					<p>Z5</p>
					<p class="click z5">푸드트럭 ZONE</p>
				</div>
				</a>
				<!-- Map info -->
				<table>
					<tr>
						<th colspan="2">SAHMYOOK UNIV FESTIVAL MAP</th>
					</tr>
					<tr>
						<td>Z1</td>
						<td>대강당 (선교 70주년 기념관)</td>
					</tr>
					<tr>
						<td>Z2</td>
						<td>포토존</td>
					</tr>
					<tr>
						<td>Z3</td>
						<td>중앙 도서관</td>
					</tr>
					<tr>
						<td>Z4</td>
						<td>부스존 (솔로몬 광장, 바울관, 농구코트)</td>
					</tr>
					<tr>
						<td>Z5</td>
						<td>푸드트럭존</td>
					</tr>
					<tr>
						<td colspan="2" class="map-desc">아이콘을 터치하면 상세정보가 표시됩니다.</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
{% endblock %}

{% block festival-endbody %}
<!-- <script>
	$(document).ready(()=>{
		$('.festmap-container').scrollLeft(($('.festmap-wrapper').width() / 3))
	});
</script> -->
<script>
function showPopup(type){
	__likelion.popup.open('/api/popup/fest/festmap_popup' + type);
}
</script>
{% endblock %}