{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/map.css' %}">
{% endblock %}

{% block festival-content %}
	<!-- <div class="festmap title-container">
		<h1>2019 삼육대학교 천보축전</h1>
	</div> -->
	<div class="festmap-container">
		<div class="festmap-wrapper">
			<div class="map-info-wrapper">
				<table>
					<tr>
						<th colspan="2">SAHMYOOK UNIV FESTIVAL MAP</th>
					</tr>
					<tr>
						<td>Z1</td>
						<td>대강당(선교 70주년 기념관)</td>
					</tr>
					<tr>
						<td>Z2</td>
						<td>포토존</td>
					</tr>
					<tr>
						<td>Z3</td>
						<td>중앙 도서관</td>
					</tr>
					<tr>
						<td>Z4</td>
						<td>부스존</td>
					</tr>
					<tr>
						<td>Z5</td>
						<td>푸드트럭존</td>
					</tr>
				</table>

			</div>
		</div>
	</div>
{% endblock %}

{% block festival-endbody %}
<script>
	$(document).ready(()=>{
		$('.festmap-container').scrollLeft(($('.festmap-wrapper').width() / 3))
	});
</script>
{% endblock %}