{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/map.css' %}">
{% endblock %}

{% block festival-content %}
	<div class="festmap title-container">
		<h1>2019 삼육대학교 천보축전</h1>
	</div>
	<div class="festmap-container">
		<div class="festmap-wrapper"></div>
	</div>
{% endblock %}

{% block festival-endbody %}
<script>
	$(document).ready(()=>{
		$('.festmap-container').scrollLeft(($('.festmap-wrapper').width() / 3))
	});
</script>
{% endblock %}