{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
{% endblock %}

{% block festival-content %}


<link rel="stylesheet" href='{% static "/festival/css/foodtruck.css" %}'>
	<h1>푸드트럭</h1>
	<div class="row">
		<div data-ft-index onclick="openPopup(this)" class="col-2 food1" data-ft-idx="0">
<i class="fas fa-truck"></i></div>
		<div data-ft-index onclick="openPopup(this)" class="col-2 food2" data-ft-idx="1">
<i class="fas fa-truck"></i></div>
		<div data-ft-index onclick="openPopup(this)" class="col-2 food3" data-ft-idx="2">
<i class="fas fa-truck"></i></div>
		<div data-ft-index onclick="openPopup(this)" class="col-2 food4" data-ft-idx="3">
<i class="fas fa-truck"></i></div>
		<div data-bt-index onclick="openPopup(this)" class="col-2 booth1" data-ft-idx="4"><i class="fas fa-archway"></i>

</div>




	<ul>
		<li>
			<a class="tomain" href="{% url 'home' %}">메인으로</a>
		</li>
	</ul>
<script>

	function openPopup(obj){
		var __data = [
				{ name : 'foodtruck1'},
				{ name : 'foodtruck2'},
				{ name : 'foodtruck3'},
				{ name : 'foodtruck4'},
				{ name : 'foodtruck5'}
				];
		var __obj = $(obj);
		var __currentVariable = __data[Number(__obj.attr('data-ft-idx'))];
		__likelion.popup.open(__currentVariable);

	}

</script>
{% endblock %}