{% load staticfiles %}
{% load socialaccount %}
<nav class='navbar'>
	<button type="button" id="home"  onclick="location.href='../'" >
        <div class="nav-icon home"></div>
	</button>

	<div class='logo-wrapper'>
		<a href="{% url 'fest_home' %}" class="goHome"></a>
	</div>

    <button type="button" id="menu" onclick='__navbar.open()'>
        <div class="nav-icon menu"></div>
    </button>
</nav>
<div class="sidemenu-container hide">
    <div class="sidemenu-cover"></div>
    <div class="sidemenu-content-wrapper">
        <div class="close-btn" onclick='__navbar.close()'>
        </div>
        <div class="sidemenu-contents">
            <div class="sidemenu-item-wrapper">
                <a href="{% url 'fest_home' %}">메인</a>
			</div>
			<div class="sidemenu-item-wrapper">
                <a href="{% url 'festmap' %}">축제 지도</a>
            </div>
            <div class="sidemenu-item-wrapper">
                <a href="{% url 'fest_foodtruck' %}">푸드트럭_부스</a>
            </div>
            <div class="sidemenu-item-wrapper">
                <a href="{% url 'stamp' %}">부스 방문 스탬프</a>
            </div>
            <div class="sidemenu-item-wrapper">
                <a href="{% url 'talent_select' %}">장기자랑</a>
            </div>
            <div class="sidemenu-item-wrapper">
                <a href="{% url 'cheer' %}">치어대전</a>
            </div>
        </div>
        <div class="sidemenu-footer">
            <div class="sidemenu-item-wrapper bg-fest-pink">
                {% if user.is_authenticated %}
                <a href="{% url 'account_logout' %}">로그아웃</a>
                {% else %}
                <a href="{% provider_login_url 'kakao' %}">간편 로그인</a>
                {% endif %}
            </div>
            <!-- <div class="sidemenu-item-wrapper bg-fest-green">
                <a href="{% url 'stamp_visit' %}">스탬프 찍기</a>
            </div> -->
        </div>
    </div>
</div>
<script>
    var __navbar = __navbar || {
        elems : {
            nav : $('.navbar'),
            sidemenu : $('.sidemenu-container')
        },
        open : function(){
			this.elems.sidemenu.removeClass('hide');
			$('body').addClass('oy-hidden');
        },
        close : function(){
			this.elems.sidemenu.addClass('hide');
			$('body').removeClass('oy-hidden');
        }
    }
    
    $(document).on('scroll' , e =>{
        // console.log(e);
        let navbar = $('.navbar');
        let top = $(e.currentTarget).scrollTop();
        
        if(top != 0){ 
            if(!navbar.hasClass('.transparent')){
                navbar.addClass('transparent');
            } 
        }
        else{ 
            if(navbar.hasClass('transparent')){
                navbar.removeClass('transparent');
            }     
        }
    });
</script>