{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/stamp.css' %}?v={{ ASSETS_VERSION }}">
{% endblock %}

{% block festival-content %}
	<div class="stamp-page-wrapper container">
		<div class="title-container">
			<h1>스탬프 찍고, 경품 받고!</h1>
			<h2>19.10.07(월) 09:00 ~ 16:30 부스 종료시 까지</h2>
		</div>
		<div class="container">
			<div class="row stamp-wrapper mt-4">
				<div class="col-12">
					{% if user.is_authenticated %}
						<p class="neonp mb-4" >
							보유 스탬프 <strong class='cur-stamp-count'>4개</strong> | 나의 응모번호 <strong class='cur-stamp-user-id'>000</strong></p>
					{% else %}
						<p class="neonp mb-4" >
							<span style="color: #ff75ab;">로그인 후에 </span>
							응모할 수 있습니다!	
						</p>
					{% endif%}
				</div>
				{% for item in data %}
				<div class="col-3 ">
					{% if forloop.counter0 < item.stmp_count %}
					<div class="stamp active"></div>	
					{% else %}
					<div class="stamp"></div>
					{% endif %}
				</div>
				{% endfor %}
				<div class="col-12">
					<p class="neonp">스탬프 수가 많을 수록 당첨 확률 UP!</p>
				</div>
			</div>

			<!-- 이벤트 경품 -->
			<div class="title-container no-border">
				<h1>- 이벤트 경품 -</h1>
			</div>
			<div class="row event-info-wrapper">
				<div class="col-4">
					<div class="stamp-product" id="product1"></div>
					<h3>에어팟</h3>
					<p>AirPods(1명)</p>
				</div>
				<div class="col-4">
					<div class="stamp-product" id="product2"></div>
					<h3>신세계 상품권</h3>
					<p>50,000원(3명)</p>
				</div>
				<div class="col-4">
					<div class="stamp-product" id="product3"></div>
					<h3>올리브영 이용권</h3>
					<p>10,000원(5명)</p>
				</div>
				<div class="col-4">
					<h6>카페 공강</h6>
					<p>5,000원(50명)</p>
				</div>
				<div class="col-4">
					<h6>스마일하우스</h6>
					<p>3,000원(50명)</p>
				</div>
				<div class="col-4">
					<h6>엠카페</h6>
					<p>3,000원(50명)</p>
				</div>
			</div>

			<!-- 이벤트 응모방법 -->
			<div class="title-container no-border">
				<h1>- 이벤트 응모방법 -</h1>
			</div>
			<div class="row event-info-wrapper">
				<div class="col-4">
					<div class="event-method">
						<div class="event-step">
							<h3>STEP1</h3>
							<p>부스방문</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="event-method">
						<div class="event-step">
							<h3>STEP2</h3>
							<p>부스참여하기</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="event-method">
						<div class="event-step">
							<h3>STEP3</h3>
							<p>스탬프찍기</p>
						</div>
					</div>
				</div>
			</div>
			<div class="title-container no-border pl-2 pr-2">
				<h1 class="mb-4">- 이벤트 주의사항 -</h1>
				<p class="mb-4">1. 당첨결과는 추후 총학생회 페이스북 페이지를 통해 공개 됩니다.</p>
				<p>2. 당첨자는 응모번호가 표출된 해당 페이지와, 학생증(모바일 학생증)을 지참하여 학생회관 총학생회실 로 방문해 주세요.</p>
			</div>
			
			<!-- 스탬프 찍기 버튼 -->
			<div class="fest-btn" onclick="__stamp.move()">스탬프 찍기</div>
		</div>
	</div>

	<script>
		Number.prototype.pad = function(width , placeholer){
			placeholer = placeholer || '0';
			n = this + '';
			return n.length >= width ? n : new Array(width - n.length + 1).join(placeholer) + n;
		}
		let __stamp = {
			isAuthenticated : eval('{{ user.is_authenticated }}'.toLowerCase()),
			userId : Number('{{user.id}}'),
			init : ()=>{
				if(!isNaN(__stamp.userId))
				{
					let stamp_count = $('.stamp-wrapper').find('.active').length;
					$('.stamp-page-wrapper .cur-stamp-count').text(''+ stamp_count +'개');
					$('.stamp-page-wrapper .cur-stamp-user-id').text(__stamp.userId.pad(5));
				}
			},
			move : function(){
				// 공식 행사 시작일 전 진입 막음
				// 유경수 2019-10-02
				let dueDate = new Date('2019-10-07 08:30:00');
				let finishDate = new Date('2019-10-07 16:30:00');
				let curDate = new Date();
				if(curDate.getTime() < dueDate.getTime()){
					alert(moment(dueDate).format("부스 스탬프 행사는 MM월 DD일 HH:mm에 오픈됩니다!"));
					return;
				}
				else if(curDate.getTime() > finishDate.getTime()){
					alert(moment(finishDate).format("부스 스탬프 행사는 MM월 DD일 HH:mm까지 진행됩니다!"));
					return;
				}
				else{
					location.href = "{% url 'stamp_visit' %}"
				}
			}
		}

		$(document).ready(()=>{
			__stamp.init();
		});
	</script>
{% endblock %}