{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/talent_select.css' %}?v={{ ASSETS_VERSION }}">
{% endblock %}

{% block festival-content %}
<!-- <div class="container"> -->
    <div class="row mb-4 title-container">
        <div class = "col-12">
            <h1>너의 청춘을 보여줘</h1>
            <h2 class = title2>
                {% if is_main == 1 %}
                장기자랑 참가자에게 투표하세요!
                {% else %}
                장기자랑 특별상을 투표해주세요!
                {% endif %}
            </h2>
            <p class = date1>
                투표기간 : 10월 7일 PM 03:30 ~ PM 06:00 종료까지
            </p>
        </div>
    </div>
    <div class = "container talent">
    <div class ="row talent">

		{% for C_P in cp %}
			<div class = "col-6 talent-item mb-3" onclick="__talent.select(this)" data-participant-id ="{{ C_P.cp_id }}">
				<div class="img-circle" style="background-image: url('{{ C_P.cont_participant_img_url }}');">
					<div class="talent-cover"></div>
					<div class= "thumbs">
						<div class="thumbs-up-icon" ></div>
					</div>
				</div>
				<p class = "title2">{{ C_P.cont_participant_nm }}</p>
				<p class = "desc">{{ C_P.cont_participant_des }}</p>
			</div>
		{% endfor %}
    <div class="row">
        <div class="col-12 talent">
			{% if is_main == 1 %}
			<button type='button' class='fest-btn' value ='submit' onclick='__talent.submit()'>투표하기</button>
			{% else %}
			<button type='button' class='fest-btn' value ='submit' onclick='__talent.submit()'>특별상 투표하기</button>
			{% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block festival-endbody %}
<script>
    var __talent = {
        select : function(elem){
            let item = $(elem);
            let selected = $('.talent-item.active');
            if(selected.length > 0){
                for(var i = 0 ; i < selected.length; i++){
                    selected.eq(i).removeClass('active');
                }
            }
            
            if(!item.hasClass('active')){
                item.addClass('active');
            }
        },
        submit : function(){
            let selected = $('.talent-item.active');

            // 공식 행사 시작일 전 진입 막음
            // 유경수 2019-10-02
            let dueDate = moment('2019-10-07 15:30:00');
            let finishDate = moment('2019-10-07 18:00:00');
            let curDate = moment();
            if(curDate.diff(dueDate) < 0){
                alert(dueDate.format('투표는 MM월 DD일 HH:mm에\n 오픈됩니다!'));
                return;
            }
            else if(curDate.diff(finishDate) > 0){
				alert('투표가 마감되었습니다!');
				$('.fest-btn').text("투표가 마감되었습니다.");
                return;
            }
            
            if(selected.length <=0){
                alert('먼저 투표할 참가자를 선택해주세요!');
                return;
            }
            if(!eval('{{user.is_authenticated}}'.toLowerCase())){
                alert('로그인이 필요합니다!\n메뉴에서 카카오 로그인을 해주세요!');
                return;
            }
            if(confirm("선택하신 후보에게 투표할까요?")){
                let participant_id = Number(selected.attr('data-participant-id'));
                $.ajax({
                    url : '/api/fest/contest/vote',
                    method : 'post',
                    data : {
                        "cp_id" : participant_id,
                        "is_main" : "{{ is_main }}"
                    }  
                })
                .then(res=>{
                    var __is_main = "{{ is_main }}";
                    if(res.status < 0){
                        alert(res.err_display_mesg);
                        console.warn(res.err_desc);
                        if(res.status === -4){
                            if(__is_main === '1'){
                                location.href= "{% url 'talent_select' %}";
                            }
                            else{
                                location.href= "{% url 'talent_spe_vote' %}";
                            }	
                        }
                    }
                    else{
                        // 성공한 경우
                        alert(res.mesg);
                        if(__is_main === '1'){
                                location.href= "{% url 'talent_select' %}";
                            }
                            else{
                                location.href= "{% url 'talent_spe_vote' %}";
                            }
                    }
                })
                .catch(res=>{
                    alert("일시적인 오류가 발생했습니다.\n 잠시후 다시 시도해주세요");
                    console.log(res);
                });
            }
        }
    }
</script>
{% endblock %}