{% extends './festival_base.html' %} {% load staticfiles %}
{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/talent_contest.css' %}?v={{ ASSETS_VERSION }}">
<scripts>
	
	
</scripts>
{% endblock %}
{% block festival-content %}
<!-- head에 link넣으니까 적용이 안됨 -->

<div class="talent-container">
	<!-- <div class="talent-nav">nav</div> -->
	<div class="row title m-0">
		<div class="col-md-12 title-container mb-20">
			<h1>너의 청춘을 보여줘</h1>
			<h2>
				{% if is_main == 1 %}
				- 투표 실시간 순위 -
				{% else %}
				- 특별상 투표 실시간 순위 - 
				{% endif %}
			</h2>
		</div>
		<div class="container">	
			<div class="row updated-time-info" onclick='__talent_contest.refresh()'>
				<p>
					<span class='redo'><i class="fas fa-redo"></i></span>
					마지막 업데이트 : <span class='time'></span>
				</p>
			</div>
			<div class="row result result-list">
				<!-- 순위 리스트 -->
			</div>
			<div class="row">
				<div class="col-12 talent">
					<!-- <a href="{% url 'talent_select' %}"> -->
					{% if is_main == 1 %}
					<button button='button' class = 'fest-btn' onclick='__talent_contest.revote()' >재투표하기</button>
					{% else %}
					<button button='button' class = 'fest-btn' onclick='__talent_contest.revote()' >특별상 재투표하기</button>
					{% endif %}
					
					<!-- </a> -->
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 result mockup">
		<div class="row">
			<div class="participant_photo col-5" data-name-idx="0">
				<!-- <img data-name-idx="0" src=""> -->
			</div>
			<div class="col-1">
				<div class="con-num">1</div>
			</div>
			<div class="col-6">
				<h2 data-name-idx="0"></h2>
				<p  data-name-idx="0"></p>
			</div>
		</div>
	</div>
</div>

<div class="wrap"></div>
<script>
var __talent_contest = {
	revote : function(){
		let finishDate = moment('2019-10-07 18:00:00');
		let curDate = moment();

		if(!eval('{{user.is_authenticated}}'.toLowerCase())){
			alert('로그인이 필요합니다!\n메뉴의 간편 로그인을 해주세요!');
			return;
		}
		else if(curDate.diff(finishDate) > 0){
			alert('투표가 마감되었습니다!');
			return;
		}
		else{
			var __is_main = '{{ is_main }}'
			$.ajax({
				url : '{% url "contest_revote" %}',
				method : 'post',
				data : {
					'is_main' : __is_main
				}
			})
			.then(res=>{
				if(res.status > 0){
					if(__is_main === '1'){
						location.href= "{% url 'talent_select' %}";
					}
					else{
						location.href= "{% url 'talent_spe_vote' %}";
					}	
				}
				else{
					alert(res.err_display_mesg);
				}
			})
		}
	},
	rank : {
		num : 1,
		smallest_count : -1
	},
	load : function(){
		console.log('loaded!');
		var __is_main = '{{ is_main }}'
		return $.ajax({
			url : '/api/fest/contest/result',
			datatype : 'json',
			method : 'GET',
			data : {
				'is_main' : __is_main
			}
		});
	},
	bind : function(res){
		let mockup = $('.result.mockup');
		let container = $('.talent-container .result-list');
		container.children().remove();
		res.data.map((item , idx) =>{
			// moment().startOf('hour').fromNow(); 

			// 새로 받아온 시간 저장
			__talent_contest.__interval.last_updated_time = new Date();
			
			let elem = mockup.clone();
			elem.removeClass('mockup');
			let cur_rate = Number(item.rate).toFixed(2);
			elem.find('h2').text(item.cont_participant_nm);
			elem.find('p').text(cur_rate + '% / 총 ' + item.count + " 득표");
			elem.find('.participant_photo').css('background-image' , 'url("'+ item.cont_participant_img_url+'")');

			let count = Number(item.count);
			if(idx === 0){
				__talent_contest.rank.num = 1;
				__talent_contest.rank.smallest_count = count;
				elem.find('.col-6').prepend('<i class="winner first"></i>');
				elem.find('.con-num').addClass('first');
			}
			if(count < __talent_contest.rank.smallest_count){
				__talent_contest.rank.num++;
				__talent_contest.rank.smallest_count = count;

				{% if is_main == 1 %}

				if(__talent_contest.rank.num === 2){
					elem.find('.col-6').prepend('<i class="winner second"></i>');
					elem.find('.con-num').addClass('second');
				}
				else if(__talent_contest.rank.num === 3 || __talent_contest.rank.num === 4){
					elem.find('.col-6').prepend('<i class="winner third"></i>');
					elem.find('.con-num').addClass('third');

				}
				
				{% endif %}
			}
			elem.find('.con-num').text(__talent_contest.rank.num);
			container.append(elem);
		});
	},
	init : function(){
		__talent_contest.load()
		.then(__talent_contest.bind);
		__talent_contest.__interval.make();
	},
	__interval : {
		obj : -1,
		// 1분에 한번 새로고침
		time : 60 * 1000,
		last_updated_time : new Date(),
		make : function(){
			this.obj = setInterval(()=>{
				__talent_contest.load()
				.then(__talent_contest.bind);
			} , this.time);
		},
		clear : function(){
			clearInterval(this.obj);
		}
	},
	refresh : function(){
		__talent_contest.__interval.clear();
		__talent_contest.init();
	}
};

$(function(){
	moment.locale('ko');
	__talent_contest.init();

	// 시간 새로고침
	$('.updated-time-info .time').text(moment(__talent_contest.__interval.last_updated_time).fromNow());
	setInterval(() => {
		$('.updated-time-info .time').text(moment(__talent_contest.__interval.last_updated_time).fromNow());
	}, 10 * 1000);
});

</script>
{% endblock %}