{% extends './festival_base.html' %} {% load staticfiles %}
{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/talent_contest.css' %}">
<scripts>
	
	
</scripts>
{% endblock %}
{% block festival-content %}
<!-- head에 link넣으니까 적용이 안됨 -->

	<div class="talent-container">
		<!-- <div class="talent-nav">nav</div> -->
		<div class="row title m-0">
			<div class="col-md-12 title-container">
				<h1>장기자랑 참가자를 투표하세요!</h1>
				<h2>장기자랑 참가자를 투표하세요!</h2>
				<p class='title-desc'>기간 : 19.10.8 AM 09:00 ~ PM 06:00 종료까지</p>
			</div>
		<!-- <div class='row m-0'> -->
			<!-- <div class="col-md-9"> -->
			<div class="container">	
				<div class="row result">
					
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="0" src="">
							</div>
							<div class="col-1">
								<div class="con-num">1</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="0"></h2>
								<p class = "rate" data-name-idx="0">1212%</p>
							</div>
						</div>
					</div>
				<!-- </div>		 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="1" src="">
							</div>
							<div class="col-1">
								<div class="con-num">2</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="1"></h2>
								<p class = "rate" data-name-idx="1"></p>
							</div>
						</div>
					</div>
				<!-- </div>	 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="2" src="" >
							</div>
							<div class="col-1">
								<div class="con-num">3</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="2"></h2>
								<p data-name-idx="2"></p>
							</div>
						</div>
					</div>
				<!-- </div>		 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="3" src="">
							</div>
							<div class="col-1">
								<div class="con-num">4</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="3"></h2>
								<p data-name-idx="3" ></p>
							</div>
						</div>
					</div>
				<!-- </div>	 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="4" src="">
							</div>
							<div class="col-1">
								<div class="con-num">5</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="4"></h2>
								<p data-name-idx="4"></p>
							</div>
						</div>
					</div>
				<!-- </div>		 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="5" src="">
							</div>
							<div class="col-1">
								<div class="con-num">6</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="5"></h2>
								<p data-name-idx="5"></p>
							</div>
						</div>
					</div>
				<!-- </div>	 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="6" src="">
							</div>
							<div class="col-1">
								<div class="con-num">7</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="6"></h2>
								<p data-name-idx="6"></p>
							</div>>
						</div>
					</div>
				<!-- </div>		 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="7"src="">
							</div>
							<div class="col-1">
								<div class="con-num">8</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="7"></h2>
								<p data-name-idx="7"></p>
							</div>
						</div>
					</div>
					<!-- </div>		 -->
					<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="8"src="">
							</div>
							<div class="col-1">
								<div class="con-num">9</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="8"></h2>
								<p data-name-idx="8"></p>
							</div>
						</div>
					</div>
					<!--</div> -->
					<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="9"src="">
							</div>
							<div class="col-1">
								<div class="con-num">10</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="9"></h2>
								<p data-name-idx="9"></p>
							</div>
						</div>
					</div>
					<!--</div> -->
					<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="10"src="">
							</div>
							<div class="col-1">
								<div class="con-num">11</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="10"></h2>
								<p data-name-idx="10"></p>
							</div>
						</div>
					</div>
					<!--</div> -->
				</div>
				<!-- </div> -->
			<!-- </div> -->
			<div class="row">
				<div class="col-12 talent">
					<a href="{% url 'talent_select' %}"><button class = 'fest-btn' value = 'submit'>재투표하기</button></a>
				</div>
			</div>
		</div>
		</div>
	</div>
<div class="wrap"></div>
<script>
// $(function(){
//     $.ajax({
//         url:"http://127.0.0.1:8000/api/fest/contest/result",
//         dataType:"json",
//         success : function(data){
// 			var vote = data.data

// 			var byCount = vote.slice(0);
// 			byCount.sort(function(a,b) {
// 				return b.count - a.count;
// 			});
// 			console.log('by Count');
// 			console.log(byCount);
// 		}
//     });
// });


setInterval(function(){
	$(function(){
		$.ajax({
			url: "http://127.0.0.1:8000/api/fest/contest/result",
			dataType:"json",
			success:function(data) {
				var vote = data.data
		

				var byCount = vote.slice(0);
				byCount.sort(function(a,b) {
					return b.count - a.count;
				});
				for(var i in byCount){
					// console.log(data.data[i].cont_participant_nm);
					var vote_num = Number(byCount[i].rate);
					var vote_num = vote_num.toFixed(2);
					$('h2[data-name-idx="'+i+'"]').text(byCount[i].cont_participant_nm);
					$('p[data-name-idx="'+i+'"]').text(vote_num +"%" +" / " + byCount[i].count+" 득표")
					$('img[data-name-idx="'+i+'"]').attr("src", byCount[i].cont_participant_img_url);


				}
			}
		});
	});
}, 5000);

</script>
{% endblock %}