{% extends './festival_base.html' %} {% load staticfiles %}

{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/talent_select.css' %}">
{% endblock %}

{% block festival-content %}
<div class ='row talent'>
    <div class = "col -10">
        <h1 class = title1>너의 청춘을 보여줘</h1>
        <h2 class = title2>장기자랑 참가자를 투표하세요!</h2>
        <p class = date1>
            기간 : 10월 9일 PM 04:00 ~ PM 06:30 종료까지
        </p>
    </div>
</div>
<div class = 'row talent'>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        <p class = title2></p>
    </div>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
</div>
<div class = 'row talent'>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
</div>
<div class = 'row talent'>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
</div>
<div class = 'row talent'>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
</div>
<div class = 'row talent'>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
</div>
<div class = 'row talent'>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
    <div class = "col-6">
        <img src="{% static 'festival/img/GettyImages-jv11337228.jpg' %}" class="img-circle">
        hello world
    </div>
</div>

{% endblock %}