{% extends './festival_base.html' %} {% load staticfiles %}
{% block festival-head %}
<link rel="stylesheet" href="{% static 'festival/css/talent_contest.css' %}">
<scripts>
	
	
</scripts>
{% endblock %}
{% block festival-content %}
<!-- head에 link넣으니까 적용이 안됨 -->

	<div class="talent-container">
		<!-- <div class="talent-nav">nav</div> -->
		<div class="row title m-0">
			<div class="col-md-12 title-container">
				<h1>장기자랑 참가자를 투표하세요!</h1>
				<h2>장기자랑 참가자를 투표하세요!</h2>
				<p class='title-desc'>기간 : 19.10.8 AM 09:00 ~ PM 06:00 종료까지</p>
			</div>
		<!-- <div class='row m-0'> -->
			<!-- <div class="col-md-9"> -->
			<div class="container">	
				<div class="row result">
					
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img data-name-idx="0" src="{% static 'festival/img/KakaoTalk-8.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">1</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="0"></h2>
								<p data-name-idx="0">84.31% 1,181,432 득표</p>
							</div>
						</div>
					</div>
				<!-- </div>		 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img class="image-2" src="{% static 'festival/img/KakaoTalk-7.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">2</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="1">강상목</h2>
								<p>2.3% 111,321 득표</p>
							</div>
						</div>
					</div>
				<!-- </div>	 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img class="image-3" src="{% static 'festival/img/KakaoTalk-3.jpeg' %}" >
							</div>
							<div class="col-1">
								<div class="con-num">3</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="2">박체홍</h2>
								<p>1.2% 50,123 득표</p>
							</div>
						</div>
					</div>
				<!-- </div>		 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img src="{% static 'festival/img/KakaoTalk-2.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">4</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="3">안소영</h2>
								<p>0.3% 12,000 득표</p>
							</div>
						</div>
					</div>
				<!-- </div>	 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img class = "image-9" src="{% static 'festival/img/KakaoTalk-9.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">5</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="4">오하은</h2>
								<p>0.1% 7,123 득표</p>
							</div>
						</div>
					</div>
				<!-- </div>		 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img src="{% static 'festival/img/KakaoTalk-5.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">6</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="5">이경민</h2>
								<p>0.06% 3,123 득표</p>
							</div>
						</div>
					</div>
				<!-- </div>	 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img src="{% static 'festival/img/KakaoTalk-6.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">7</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="6">함민아</h2>
								<p>0.03% 1,123득표</p>
							</div>>
						</div>
					</div>
				<!-- </div>		 -->
				<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img src="{% static 'festival/img/KakaoTalk-4.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">8</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="7">곽다빈</h2>
								<p>0.01% 532 득표</p>
							</div>
						</div>
					</div>
					<!-- </div>		 -->
					<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img src="{% static 'festival/img/KakaoTalk-1.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">8</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="8">차원빈</h2>
								<p>0.005% 18득표</p>
							</div>
						</div>
					</div>
					<!--</div> -->
					<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img src="{% static 'festival/img/KakaoTalk-1.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">8</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="9">차원빈</h2>
								<p>0.005% 18득표</p>
							</div>
						</div>
					</div>
					<!--</div> -->
					<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img src="{% static 'festival/img/KakaoTalk-1.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">8</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="10">차원빈</h2>
								<p>0.005% 18득표</p>
							</div>
						</div>
					</div>
					<!--</div> -->
					<!-- <div class="row result"> -->
					<!-- 순위 리스트 -->
					<div class="col-md-12 result">
						<div class="row">
							<div class="col-5">
								<img src="{% static 'festival/img/KakaoTalk-1.jpeg' %}">
							</div>
							<div class="col-1">
								<div class="con-num">8</div>
							</div>
							<div class="col-6">
								<h2 data-name-idx="11">차원빈</h2>
								<p>0.005% 18득표</p>
							</div>
						</div>
					</div>
					<!--</div> -->
				</div>
				<!-- </div> -->
			<!-- </div> -->
			<div class="row">
				<div class="col-12 talent">
					<a href="{% url 'talent_select' %}"><button class = 'fest-btn' value = 'submit'>재투표하기</button></a>
				</div>
			</div>
		</div>
		</div>
	</div>
<div class="wrap"></div>
<script>
$(function(){
    $.ajax({
        url:"http://127.0.0.1:8000/api/fest/contest/result",
        dataType:"json",
        success : function(data){
			var vote = data.data

			var byCount = vote.slice(0);
			byCount.sort(function(a,b) {
				return b.count - a.count;
			});
			console.log('by Count');
			console.log(byCount);
		}
    });
});

// $(function(){
// 	$.ajax({
// 		url:"http://127.0.0.1:8000/api/fest/contest/result",
// 		dataType:"json",
// 		success : function(data){
// 			if(data.data.length > 0){
// 				var tb = $("<table/>");
// 				for(var i in data.data){
// 					var $cp_id = data.data[i].cp_id;
// 					var $count = data.data[i].count;
// 					var $cont_participant_nm = data.data[i].cont_participant_nm;
// 					var $cont_participant_img_url = data.data[i].cont_participant_img_url;

// 					var row = $("<tr/>").append(
// 						$("<td/>").text($cp_id),
// 						$("<td/>").text($count),
// 						$("<td/>").text($cont_participant_nm),
// 						$("<td/>").text($cont_participant_img_url),
// 					);
// 					tb.append(row);
// 				}
// 				$(".wrap").append(tb);
// 			}
// 		}
// 	})
// })

$(function(){
	$.ajax({
		url: "http://127.0.0.1:8000/api/fest/contest/result",
		dataType:"json",
		success:function(data) {
			var vote = data.data
	

			var byCount = vote.slice(0);
			byCount.sort(function(a,b) {
				return b.count - a.count;
			});
			for(var i in byCount){
				// console.log(data.data[i].cont_participant_nm);
				var vote_num = Number(byCount[i].rate);
				vote_num.toFixed(2);
				$('h2[data-name-idx="'+i+'"]').text(byCount[i].cont_participant_nm);
				$('P[data-name-idx="'+i+'"]').text(vote_num +"%" +" / " + byCount[i].count+" 득표")
				$('img[data-name-idx="'+i+'"]').attr("src", byCount[i].cont_participant_img_url);

			}
		}
	});
});
</script>
{% endblock %}