{% extends '../popup.base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/css/popup/festival/fest.popup.core.css' %}?v={{ ASSETS_VERSION }}">
<link rel="stylesheet" href="{% static 'common/css/popup/festival/booth.css' %}?v={{ ASSETS_VERSION }}">
{% endblock %}

{% block content %}
<div class='popup-wrapper'>
    <div class="title-container no-border mb-4 pl-3 pr-3">
		<h2>부스</h2>
		<h1>{{ booth.booth_nm }}</h1>
		{% if booth.booth_manager is not None %}
			<p>{{ booth.booth_manager | safe }}</p>
		{% endif %}
		<button id='share' class="share-btn" data-clipboard-text="{{ request.scheme }}://{{ request.get_host }}/festival/foodtruck?type=booth&id={{ booth.booth_id }}">
			
		</button>
		<script>
			$(document).ready(function(){
				if(window.__clipboard_share){ window.__clipboard_share.destroy(); }
				window.__clipboard_share = new ClipboardJS('#share');
				window.__clipboard_share.on('success' , function(){
					alert('링크가 복사되었습니다!');
				});
			});
		</script>
	</div>
	<!-- 이미지 -->
    {% if booth.booth_img is not None %}
    	<img src="{{ booth.booth_img }}">
	{% else %}
	{% endif %}
	<div class="popup-content-wrapper mb-10">
		<div class="popup-content-box">
			<h2>부스 설명</h2>
			<p>{{ booth.booth_desc | safe }}</p>
		</div>
		{% if booth.booth_event is not None %}
		<div class="popup-content-box">
			<h2>부스 이벤트</h2>
			<p>{{ booth.booth_event | safe }}</p>
		</div>
		{% endif %}
		{% if booth.booth_product is not None %}
		<div class="popup-content-box">
			<h2>판매 상품</h2>
			<p>{{ booth.booth_product | safe }}</p>
		</div>
		{% endif %}
		<!-- <a href="{% url 'stamp' %}"> -->
		<a  href="javascript:alert('부스 스탬프 행사는 10월 7일 \n09:00부터 오픈됩니다!');">
			<div class="fest-btn no-fix">
				부스 스탬프 이벤트
			</div>
		</a>
	</div>
</div>


{% endblock %}