{% extends '../popup.base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/css/popup/festival/fest.popup.core.css' %}?v={{ ASSETS_VERSION }}">
<link rel="stylesheet" href="{% static 'common/css/popup/festival/foodtruck.css' %}?v={{ ASSETS_VERSION }}">
{% endblock %}

{% block content %}

<div class='popup-wrapper'>
	<div class="title-container no-border mb-4 pl-3 pr-3">
		<h1>{{ food.truck_name }}</h1>
		{% if food.truck_desc is not None %}
			<h2>{{food.truck_desc}}</h2>
			<p>
				<span class="popup-icon credit-card"></span>
				카드결제 | 
				<span class="popup-icon cash"></span>
				현금결제
			</p>
		{% endif %}
		<button id='share' class="share-btn" data-clipboard-text="{{ request.scheme }}://{{ request.get_host }}/festival/foodtruck?type=food&id={{food.truck_id}}">
			
		</button>
		<script>
			$(document).ready(function(){
				if(window.__clipboard_share && window.__clipboard_share.destroy){ window.__clipboard_share.destroy(); }
				window.__clipboard_share = new ClipboardJS('#share');
				window.__clipboard_share.on('success' , function(){
					alert('링크가 복사되었습니다!');
				});
			});
		</script>
	</div>

	<div class="popup-content-wrapper mb-5">
		<div class="popup-content-box">
		<h2>메뉴</h2>	
		{% if menus is not None %}
		<table class="menu-table">
			{% for menu in menus %}
			<tr>
				<th>{{menu.menu_name}}</th>
				<td>{{menu.menu_price}}</td>
			</tr>
			{% endfor %}
		</table>	
		{% endif %}
		</div>

		<!-- 이미지 -->
		{% if food.truck_img_url is not None %}
		<img class="popup-foodtruck-img" src="{{food.truck_img_url}}">
		{% else %}

		{% endif %}
	</div>
</div>
{% endblock %}